.FNV-Badge{
  padding: .5rem;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;

  &.PrimaryColor{
    color: $White;
    background-color: $PrimaryOne;
  }

  &.Large{
    font-size: 35px;
    padding: .5rem 1rem;
  }
}