@import './variables';

.FNV-Courses{
  .FNV-Header {
    background-image: radial-gradient(circle, rgba(255, 119, 44, 0.4) 0%, rgba(255, 119, 44, 0.9) 100%), url("/img/Course_Featured.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem 0;
    height: unset;
  
    .container {
      .row {
        justify-content: center;

        .col-12 {
          h1 {
            font-size: 48px;
            font-weight: bold;
            color: $WhiteColor;
            text-align: center;
            margin-bottom: 2rem;
          }

          .FNV-HSearch {
            background-color: rgba(255, 255, 255, 0.6);
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            padding: .8rem;
            border: 1px solid $WhiteColor;

            .FNV-HSearchInput {
              background-color: transparent !important;
              border-width: 0;
              box-shadow: unset;
              border-radius: 15px;
              color: $PrimaryColor;
              font-size: 16px;
              font-weight: 400;

              &::after,
              &::before {
                display: none;
              }

              &::placeholder,
              &:-ms-input-placeholder {
                color: $PrimaryColor !important;
              }
            }

            button {
              background-color: $PrimaryColor;
              color: $WhiteColor;
              border-radius: 15px 15px 15px 15px !important;
              width: 75px;

              svg {
                width: 30px;
                height: 30px;
                color: $WhiteColor
              }
            }
          }
        }
      }
    }
  }

  .FNV-CourseList{
    padding: 5rem 0;
    .container{
      .row{
        // Nav Pills
        .col-md-9{
          &:first-child{
            .nav{
              margin-bottom: 2rem;
              .nav-item{
                margin: 0 7px;
    
                .nav-link{
                  background-color: $SecondPrimaryColor;
                  color: $PrimaryColor;
                  border-radius: 12px;
                  font-size: 14px;
                  font-weight: 400;
    
                  &.active{
                    background-color: $PrimaryColor!important;
                    color: $WhiteColor;
                  }
                }
              }
            }
          }

          &:nth-child(2){
            margin: 1rem 0 4rem;

            .row{
              .col-md-4{
                select{
                  border-radius: 8px;
                  border: 1px solid $PrimaryColor;
                  background-color: transparent;
                  color: $PrimaryColor;

                  option{
                    border-radius: 8px;
                    border: 1px solid $PrimaryColor;
                    color: $PrimaryColor
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .FNV-Courses{
    .FNV-Header {
      background-image: radial-gradient(circle, rgba(255, 119, 44, 0.4) 0%, rgba(255, 119, 44, 0.9) 100%), url("/img/Course_Featured.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding: 2rem 0;
      height: unset;
    
      .container {
        .row {
          justify-content: center;
  
          .col-12 {
            h1 {
              font-size: 28px;
              font-weight: bold;
              color: $WhiteColor;
              text-align: center;
              margin-bottom: 2rem;
            }
  
            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 100%;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
  
              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0px;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;
  
                &::after,
                &::before {
                  display: none;
                }
  
                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }
  
              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;
  
                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }
          }
        }
      }
    }
  }
}