@import './variables';

.FNV-Courses {
  background-color: $WhiteColor;

  .FNV-Header {
    background-image: radial-gradient(circle, rgba(255, 119, 44, 0.4) 0%, rgba(255, 119, 44, 0.9) 100%), url("/img/Course_Featured.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem 0;
    height: unset;

    .container {
      padding: 0;
      
      .row {
        justify-content: center;

        .col-md-5 {
          h1 {
            font-size: 40px;
            font-weight: bold;
            color: $WhiteColor;
            text-align: center;
            margin-bottom: 2rem;
          }

          .FNV-HSearch {
            background-color: rgba(255, 255, 255, 0.6);
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            padding: .8rem;
            border: 1px solid $WhiteColor;

            .FNV-HSearchInput {
              background-color: transparent !important;
              border-width: 0;
              box-shadow: unset;
              border-radius: 15px;
              color: $PrimaryColor;
              font-size: 16px;
              font-weight: 400;

              &::after,
              &::before {
                display: none;
              }

              &::placeholder,
              &:-ms-input-placeholder {
                color: $PrimaryColor !important;
              }
            }

            button {
              background-color: $PrimaryColor;
              color: $WhiteColor;
              border-radius: 15px 15px 15px 15px !important;
              width: 75px;

              svg {
                width: 30px;
                height: 30px;
                color: $WhiteColor
              }
            }
          }
        }
      }
    }
  }

  .FNV-CourseList {
    padding: 5rem 0;

    .container {
      .row {

        // Nav Pills
        .col-md-9 {
          padding: 0;
          .PopularCategories{
            margin-bottom: 2rem;

            .nav-item {
              margin: 0 7px;

              .nav-link {
                background-color: $SecondPrimaryColor;
                color: $PrimaryColor;
                border-radius: 12px;
                font-size: 14px;
                font-weight: 400;

                &.active {
                  background-color: $PrimaryColor !important;
                  color: $WhiteColor;
                }
              }
            }
          }

          .DropdownFilters{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .nav-item {
              width: 32%;

              div{
                border: 2px solid $PrimaryColor;
                border-radius: 10px;

                div{
                  border-width: 0;
                  color: $PrimaryColor;
                  font-weight: 600;
                  font-size: 14px;
                  padding: .5rem;
                }
              }
            }
          }
        }

        .tab-content {
          .tab-pane{
            .row {
              .col-md-4{
                padding: .8rem;
                .card {
                  box-shadow: 0px 5px 20px $ShadowPrimary;
                  border-width: 0;
                  border-radius: 18px;
                  overflow: hidden;
                  position: relative;
                  cursor: grab;

                  &:active,
                  &:target {
                    cursor: grabbing;
                  }

                  badge {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    font-size: 14px;
                    line-height: 28px;
                    font-weight: 500;
                    color: $PrimaryColor;
                    background-color: $WhiteColor;
                    border-radius: 5px;
                    padding: .2rem 1rem;
                  }

                  .card-body {
                    background-color: $WhiteColor;
                    border-radius: 18px;
                    margin-top: -3rem;

                    h4 {
                      font-size: 22px;
                      line-height: 44px;
                      font-weight: 700;
                      color: $PrimaryColor;
                      text-align: center;
                    }

                    price {
                      font-size: 22px;
                      font-weight: 400;
                      line-height: 44px;
                      color: $SecondaryColor;
                      text-align: center;
                      width: 100%;
                      display: inline-block;
                    }

                    .d-flex {
                      margin-top: 1rem;

                      .FNV-Btn {
                        width: 100%;

                        &:first-child {
                          margin-right: 5px;
                        }

                        &:nth-child(2) {
                          margin-left: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.MuiList-root{
  border: 1px solid $PrimaryColor;
  border-radius: 10px;

  option{
    padding: .5rem;
    margin-bottom: 0;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  .FNV-Courses {
    background-color: $WhiteColor;
  
    .FNV-Header {
      background-image: radial-gradient(circle, rgba(255, 119, 44, 0.4) 0%, rgba(255, 119, 44, 0.9) 100%), url("/img/Course_Featured.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding: 2rem 1rem;
      height: unset;
  
      .container {
        padding: 0;
        
        .row {
          justify-content: center;
  
          .col-md-5 {
            h1 {
              font-size: 30px;
              font-weight: bold;
              color: $WhiteColor;
              text-align: center;
              margin-bottom: 2rem;
            }
  
            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 100%;
              border-radius: 15px;
              overflow: hidden;
              padding: .2rem;
              border: 1px solid $WhiteColor;
  
              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;
  
                &::after,
                &::before {
                  display: none;
                }
  
                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                  font-size: 12px;
                }
              }
  
              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 50px;
  
                svg {
                  width: 20px;
                  height: 20px;
                  color: $WhiteColor
                }
              }
            }
          }
        }
      }
    }
  
    .FNV-CourseList {
      padding: 1rem;
  
      .container {
        .row {
          // Nav Pills
          .col-md-9 {
            padding: 0;
            .PopularCategories{
              margin-bottom: 2rem;
              display: flex;
              flex-direction: row;
  
              .nav-item {
                margin: .2rem;
                width: 31%;
  
                .nav-link {
                  background-color: $SecondPrimaryColor;
                  color: $PrimaryColor;
                  border-radius: 12px;
                  font-size: 10px;
                  font-weight: 400;
                  width: 100%;
                  padding: .5rem .1rem;
  
                  &.active {
                    background-color: $PrimaryColor !important;
                    color: $WhiteColor;
                  } 
                }

                &:last-child{
                  width: 100%;

                  .nav-link{
                    width: 100%;
                  }
                }
              }
            }
  
            .DropdownFilters{
              margin-bottom: 2rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
  
              .nav-item {
                width: 31%;
  
                div{
                  border: 2px solid $PrimaryColor;
                  border-radius: 10px;
  
                  div{
                    border-width: 0;
                    color: $PrimaryColor;
                    font-weight: 600;
                    font-size: 14px;
                    padding: .5rem;
                  }
                }
              }
            }
          }
  
          .tab-content {
            .tab-pane{
              .row {
                .col-md-4{
                  padding: .8rem;
                  .card {
                    box-shadow: 0px 5px 20px $ShadowPrimary;
                    border-width: 0;
                    border-radius: 18px;
                    overflow: hidden;
                    position: relative;
                    cursor: grab;
  
                    &:active,
                    &:target {
                      cursor: grabbing;
                    }
  
                    badge {
                      position: absolute;
                      top: 1rem;
                      left: 1rem;
                      font-size: 14px;
                      line-height: 28px;
                      font-weight: 500;
                      color: $PrimaryColor;
                      background-color: $WhiteColor;
                      border-radius: 5px;
                      padding: .2rem 1rem;
                    }
  
                    .card-body {
                      background-color: $WhiteColor;
                      border-radius: 18px;
                      margin-top: -3rem;
  
                      h4 {
                        font-size: 22px;
                        line-height: 44px;
                        font-weight: 700;
                        color: $PrimaryColor;
                        text-align: center;
                      }
  
                      price {
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 44px;
                        color: $SecondaryColor;
                        text-align: center;
                        width: 100%;
                        display: inline-block;
                      }
  
                      .d-flex {
                        margin-top: 1rem;
  
                        .FNV-Btn {
                          width: 100%;
  
                          &:first-child {
                            margin-right: 5px;
                          }
  
                          &:nth-child(2) {
                            margin-left: 5px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  .MuiList-root{
    border: 1px solid $PrimaryColor;
    border-radius: 10px;
  
    option{
      padding: .5rem;
      margin-bottom: 0;
    }
  }
}