@import './variables';

newsletter{
  background-color: $PrimaryColor;
  border-top: 0px solid $PrimaryColor;
  padding: 4rem 2rem;
  display: block;
  border-bottom: 2px solid $WhiteColor;

  .container{
    .row{
      .col-md-6{
        padding: 0;

          h3{
            font-size: 24px;
            font-weight: bold;
            color: $WhiteColor;
          }
  
          p{
            color: $WhiteColor;
            font-size: 12px;
            font-weight: 400;
          }

        .FNV-Newsletter {
          background-color: rgba(255, 255, 255, 0.6);
          width: 100%;
          border-radius: 15px;
          overflow: hidden;
          padding: .8rem;
          border: 1px solid $WhiteColor;

          div{
            width: 85%;

            .FNV-NewsletterInput {
              background-color: transparent !important;
              border-width: 0;
              box-shadow: unset;
              border-radius: 15px;
              color: $PrimaryColor;
              font-size: 16px;
              font-weight: 400;
              
  
              &::after,
              &::before {
                display: none;
              }
  
              &::placeholder,
              &:-ms-input-placeholder {
                color: $PrimaryColor !important;
              }
            }
          }

          button {
            background-color: $PrimaryColor;
            color: $WhiteColor;
            border-radius: 15px 15px 15px 15px !important;
            width: 15%;

            svg {
              width: 30px;
              height: 30px;
              color: $WhiteColor
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $PrimaryColor;
  border-top: 0px solid $PrimaryColor;
  padding: 4rem 2rem;

  .container {
    .row {
      .col-md-3 {
        padding: 0 1rem;
        img{
          filter: brightness(100);
        }
        
        h4 {
          font-size: 18px;
          color: $WhiteColor;
        }
        
        .list-group{
          background-color: transparent;
          padding: 0;

          .list-group-item{
            background-color: transparent;
            border-width: 0;
            padding: .5rem 0 0;

            a{
              color: $GrayTwoColor;
              font-size: 14px;
              transition: .3s all ease-in-out;

              svg{
                width: 16px;
                height: 16px;
                margin-right: .5rem;
              }

              &:hover{
                color: $WhiteColor;
              }
            }
          }
        }

        // Social
        .FNV-Social {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          color: $WhiteColor;
          overflow: hidden;
          z-index: 11;

          a {
            color: $WhiteColor;
            border-radius: 5px;

            &.FNV-Instagram {
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #d6249f;
              background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
            }

            &.FNV-Youtube {
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #c4302b;
            }

            &.FNV-Linkedin {
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #0072b1;
            }

            &.FNV-Facebook {
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #3b5998;
            }

            &.FNV-Telegram {
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #0088cc;
            }

            svg {
              width: 18px;
              height: 18px;
            }
          }
        }

        &:first-child{
          padding-right: 1rem;
          padding-left: 0;
        }

        &:last-child{
          padding-left: 1rem;
          padding-right: 0;
        }
      }
    }

    &.FNV-Copyright{
      margin-top: 2rem;
      padding: 0;
      
      .row{
        .col-12{
          small{
            color: $GrayTwoColor;
          }
        }
      }
    }
  }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  footer {
    background-color: $PrimaryColor;
    border-top: 0px solid $PrimaryColor;
    padding: 2rem;
  
    .container {
      .row {
        .col-md-3 {
          padding: 1rem 0rem;
          
          img{
            filter: brightness(100);
          }
          
          h4 {
            font-size: 18px;
            color: $WhiteColor;
          }
          
          .list-group{
            background-color: transparent;
            padding: 0;
  
            .list-group-item{
              background-color: transparent;
              border-width: 0;
              padding: .5rem 0 0;
  
              a{
                color: $GrayTwoColor;
                font-size: 14px;
                transition: .3s all ease-in-out;
  
                svg{
                  width: 16px;
                  height: 16px;
                  margin-right: .5rem;
                }
  
                &:hover{
                  color: $WhiteColor;
                }
              }
            }
          }
  
          // Social
          .FNV-Social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $WhiteColor;
            overflow: hidden;
            z-index: 11;
  
            a {
              color: $WhiteColor;
              border-radius: 5px;
  
              &.FNV-Instagram {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #d6249f;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
              }
  
              &.FNV-Youtube {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #c4302b;
              }
  
              &.FNV-Linkedin {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0072b1;
              }
  
              &.FNV-Facebook {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #3b5998;
              }
  
              &.FNV-Telegram {
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0088cc;
              }
  
              svg {
                width: 16px;
                height: 16px;
              }
            }
          }
  
          &:first-child{
            padding: 1rem 0rem;
          }
  
          &:last-child{
            padding: 1rem 0rem;
          }
        }
      }
  
      &.FNV-Copyright{
        margin-top: 2rem;
        padding: 0;
        
        .row{
          .col-12{
            text-align: center;

            small{
              color: $GrayTwoColor;
            }
          }
        }
      }
    }
  }
}