@import './variables';
footer {
  background-color: Black;
  border-top: 0px solid $PrimaryColor;
  padding: 4rem 2rem;

  .container-fluid {
    .row {
      .col-md-2 {
        h2 {
          font-size: 22px;
          color: $WhiteColor;
        }

        h6 {
          color: $WhiteColor;
        }

        .list-group {
          .list-group-item {
            background-color: transparent;
            padding-left: 0rem;
            border-bottom: none;

            a {
              font-size: 14px;
              color: $GrayTwoColor;

              svg {
                width: 14px;
                height: 14px;
              }
            }
          }
        }

        .FNV-Social {
          .list-group-item {
            padding-left: 1rem;
            padding-right: 1rem;
            border: none;
            background-color: $WhiteColor;
            border-radius: 5px;

            a {
              svg {
                color: $PrimaryColor;
              }
            }
          }
        }
      }
    }
  }
}
