@import './variables';

body[dir='ltr'] {
  .FNV-Footer {
    padding: 4rem 2rem;
    background-color: $PrimaryOne;

    .container {
      .row {
        &:first-child {
          margin-bottom: 2rem;

          .col-md {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .col-md-4 {
          padding: 0 4rem 0 0rem;

          p {
            margin-bottom: 2rem;
          }

          .d-flex {
            justify-content: space-between;

            a {
              font-size: 14px;
              font-weight: 400;
              border: 1px solid $WhiteColor;
              border-radius: 8px;
              color: $WhiteColor;
              width: 100%;
              text-align: center;
              padding: .2rem 1rem;
              direction: ltr;
            }
          }

          h4 {
            font-size: 16px;
            color: $WhiteColor;
            font-weight: bold;
          }

          .list-group {
            background-color: transparent;
            padding: 0;

            .list-group-item {
              background-color: transparent;
              border-width: 0;
              padding: 0rem 0 0;

              a {
                color: $GrayTwoColor;
                font-size: 14px;
                transition: .3s all ease-in-out;

                svg {
                  width: 16px;
                  height: 16px;
                  margin-left: .5rem;
                }

                &:hover {
                  color: $WhiteColor;
                }
              }
            }
          }

          // Social
          .FNV-Social {
            z-index: 11;
            display: flex;
            margin-top: 0rem;
            overflow: hidden;
            color: $WhiteColor;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            a {
              color: $WhiteColor;
              border-radius: 5px;

              svg {
                width: 20;
                height: 20;
              }
            }
          }

          p {
            font-size: 16px;
            font-weight: 200;
            color: $WhiteColor;
            text-align: justify;

            &.FNV-Address {
              width: 100%;
              display: flex;
              text-align: left;
              align-items: start;
              margin-bottom: .5rem;
              flex-direction: column;
              justify-content: space-between;

              span {
                font-size: 14px;
                color: $PrimaryTwo;
                margin-bottom: .5rem;
              }

              a {
                font-size: 14px;
                color: $WhiteColor;
              }

              a {
                display: block;
              }
            }

            &.FNV-Telephone {
              display: flex;
              direction: rtl;
              flex-wrap: wrap;
              margin-bottom: .5rem;

              a {
                display: flex;
                padding: .5rem;
                font-size: 10px;
                color: $WhiteColor;
                margin-bottom: .5rem;
                justify-content: space-between;

                &:first-child {
                  padding-right: 0;
                }

                &:nth-child(2) {
                  padding-left: 0;
                }

                &:nth-child(3) {
                  padding-right: 0;
                }

                &:nth-child(4) {
                  padding-left: 0;
                }

                span {
                  &:nth-child(2) {
                    direction: ltr;
                    font-size: 12px;
                  }
                }

                &:hover {
                  color: $PrimaryTwo;
                }
              }
            }
          }
        }

        .col-md {
          padding: 0 1rem;

          h4 {
            font-size: 18px;
            color: $WhiteColor;
            font-weight: bold;
          }

          .list-group {
            background-color: transparent;
            padding: 0;

            .list-group-item {
              background-color: transparent;
              border-width: 0;
              padding: .5rem 0 0;

              a {
                color: $GrayTwoColor;
                font-size: 14px;
                transition: .3s all ease-in-out;

                svg {
                  width: 16px;
                  height: 16px;
                  margin-right: .5rem;
                }

                &:hover {
                  color: $WhiteColor;
                }
              }
            }
          }

          // Social
          .FNV-Social {
            z-index: 11;
            display: flex;
            overflow: hidden;
            color: $WhiteColor;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            a {
              color: $WhiteColor;
              border-radius: 5px;

              &.FNV-Instagram {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #d6249f;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
              }

              &.FNV-Youtube {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #c4302b;
              }

              &.FNV-Linkedin {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0072b1;
              }

              &.FNV-Facebook {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #3b5998;
              }

              &.FNV-Telegram {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0088cc;
              }

              svg {
                width: 18px;
                height: 18px;
              }
            }
          }

          &:first-child {
            padding-right: 1rem;
            padding-left: 0;
          }

          &:last-child {
            padding-left: 1rem;
            padding-right: 0;
          }
        }

        .col-12 {
          svg {
            width: 100%;
            margin-bottom: 2rem;
          }

          &.FNV-Copyright {
            padding: 2rem 0 0;
            text-align: center;

            p {
              small {
                direction: ltr;
                color: $WhiteColor;
              }
            }
          }
        }
      }
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    .FNV-Footer {
      padding: 1rem;
      background-color: $PrimaryOne;

      .container {
        .row {
          &:first-child {
            margin-bottom: 1rem;

            .col-md {
              display: flex;
              margin: .5rem 0;
              align-items: center;
              justify-content: center;
            }
          }

          svg.col-12 {
            margin: .5rem 0 !important;
          }

          .col-md-4 {
            padding: 0rem;

            p {
              margin-bottom: .5rem;
            }

            .d-flex {
              justify-content: space-between;

              a {
                font-size: 14px;
                font-weight: 400;
                border: 1px solid $WhiteColor;
                border-radius: 8px;
                color: $WhiteColor;
                width: 100%;
                text-align: center;
                padding: .2rem 1rem;
                direction: ltr;
              }
            }

            h4 {
              font-size: 14px;
              color: $WhiteColor;
              font-weight: bold;
            }

            .list-group {
              background-color: transparent;
              padding: 0;

              .list-group-item {
                background-color: transparent;
                border-width: 0;
                padding: 0rem 0 0;

                a {
                  color: $GrayTwoColor;
                  font-size: 14px;
                  transition: .3s all ease-in-out;

                  svg {
                    width: 16px;
                    height: 16px;
                    margin-left: .5rem;
                  }

                  &:hover {
                    color: $WhiteColor;
                  }
                }
              }
            }

            // Social
            .FNV-Social {
              z-index: 11;
              display: flex;
              margin: 1rem 0 2rem;
              overflow: hidden;
              color: $WhiteColor;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;

              a {
                color: $WhiteColor;
                border-radius: 5px;

                svg {
                  width: 20;
                  height: 20;
                }
              }
            }

            p {
              font-size: 16px;
              font-weight: 200;
              color: $WhiteColor;
              text-align: justify;

              &.FNV-Address {
                width: 100%;
                display: flex;
                text-align: left;
                align-items: start;
                margin-bottom: .5rem;
                flex-direction: column;
                justify-content: space-between;

                span {
                  font-size: 14px;
                  color: $PrimaryTwo;
                  margin-bottom: .5rem;
                }

                a {
                  font-size: 14px;
                  color: $WhiteColor;
                }

                a {
                  display: block;
                }
              }

              &.FNV-Telephone {
                display: flex;
                direction: rtl;
                flex-wrap: wrap;
                margin-bottom: .5rem;

                a {
                  display: flex;
                  padding: .5rem;
                  font-size: 8px;
                  color: $WhiteColor;
                  margin-bottom: .5rem;
                  justify-content: space-between;

                  &:first-child {
                    padding-right: 0;
                  }

                  &:nth-child(2) {
                    padding-left: 0;
                  }

                  &:nth-child(3) {
                    padding-right: 0;
                  }

                  &:nth-child(4) {
                    padding-left: 0;
                  }

                  span {
                    &:nth-child(2) {
                      direction: ltr;
                      font-size: 10px;
                    }
                  }

                  &:hover {
                    color: $PrimaryTwo;
                  }
                }
              }
            }
          }

          .col-md {
            padding: 0rem;

            h4 {
              font-size: 12px;
              color: $WhiteColor;
              font-weight: bold;
            }

            .list-group {
              background-color: transparent;
              padding: 0;

              .list-group-item {
                background-color: transparent;
                border-width: 0;
                padding: .2rem 0 0;

                a {
                  color: $GrayTwoColor;
                  font-size: 12px;
                  transition: .3s all ease-in-out;

                  svg {
                    width: 16px;
                    height: 16px;
                    margin-right: .5rem;
                  }

                  &:hover {
                    color: $WhiteColor;
                  }
                }
              }
            }

            // Social
            .FNV-Social {
              z-index: 11;
              display: flex;
              overflow: hidden;
              color: $WhiteColor;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;

              a {
                color: $WhiteColor;
                border-radius: 5px;

                &.FNV-Instagram {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #d6249f;
                  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
                }

                &.FNV-Youtube {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #c4302b;
                }

                &.FNV-Linkedin {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #0072b1;
                }

                &.FNV-Facebook {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #3b5998;
                }

                &.FNV-Telegram {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #0088cc;
                }

                svg {
                  width: 18px;
                  height: 18px;
                }
              }
            }

            &:first-child {
              padding-right: 1rem;
              padding-left: 0;
            }

            &:last-child {
              padding-left: 1rem;
              padding-right: 0;
            }
          }

          .col-12 {
            &.FNV-Copyright {
              padding: .5rem 0 0;
              text-align: center;

              p {
                small {
                  direction: ltr;
                  color: $WhiteColor;
                }
              }
            }
          }
        }
      }
    }
  }
}

body[dir='rtl'] {
  .FNV-Footer {
    padding: 4rem 2rem;
    background-color: $PrimaryOne;

    .container {
      .row {
        &:first-child {
          margin-bottom: 2rem;

          .col-md {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .col-md-4 {
          padding: 0 0rem 0 4rem;

          p {
            margin-bottom: 2rem;
          }

          svg.FNV-Logo {
            width: 80%;
            margin-bottom: 4rem;
          }

          .d-flex {
            justify-content: space-between;

            a {
              font-size: 14px;
              font-weight: 400;
              border: 1px solid $WhiteColor;
              border-radius: 8px;
              color: $WhiteColor;
              width: 100%;
              text-align: center;
              padding: .2rem 1rem;
              direction: ltr;
            }
          }

          h4 {
            font-size: 16px;
            color: $WhiteColor;
            font-weight: bold;
          }

          .list-group {
            background-color: transparent;
            padding: 0;

            .list-group-item {
              background-color: transparent;
              border-width: 0;
              padding: 0rem 0 0;

              a {
                color: $GrayTwoColor;
                font-size: 14px;
                transition: .3s all ease-in-out;

                svg {
                  width: 16px;
                  height: 16px;
                  margin-left: .5rem;
                }

                &:hover {
                  color: $WhiteColor;
                }
              }
            }
          }

          // Social
          .FNV-Social {
            z-index: 11;
            display: flex;
            margin-top: 0rem;
            overflow: hidden;
            color: $WhiteColor;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            a {
              color: $WhiteColor;
              border-radius: 5px;

              svg {
                width: 20;
                height: 20;
              }
            }
          }

          p {
            font-size: 16px;
            font-weight: 200;
            color: $WhiteColor;
            text-align: justify;

            &.FNV-Address {
              width: 100%;
              display: flex;
              direction: ltr;
              text-align: left;
              align-items: start;
              margin-bottom: .5rem;
              flex-direction: column;
              justify-content: space-between;

              span {
                font-size: 14px;
                color: $PrimaryTwo;
                margin-bottom: .5rem;
              }

              a {
                font-size: 14px;
                color: $WhiteColor;
              }

              a {
                display: block;
              }
            }

            &.FNV-Telephone {
              display: flex;
              flex-wrap: wrap;
              margin-bottom: .5rem;

              a {
                display: flex;
                padding: .5rem;
                font-size: 10px;
                color: $WhiteColor;
                margin-bottom: .5rem;
                justify-content: space-between;

                &:first-child {
                  padding-right: 0;
                }

                &:nth-child(2) {
                  padding-left: 0;
                }

                &:nth-child(3) {
                  padding-right: 0;
                }

                &:nth-child(4) {
                  padding-left: 0;
                }

                span {
                  &:nth-child(2) {
                    direction: ltr;
                    font-size: 12px;
                  }
                }

                &:hover {
                  color: $PrimaryTwo;
                }
              }
            }
          }
        }

        .col-md {
          padding: 0 1rem;

          h4 {
            font-size: 18px;
            color: $WhiteColor;
            font-weight: bold;
          }

          .list-group {
            background-color: transparent;
            padding: 0;

            .list-group-item {
              background-color: transparent;
              border-width: 0;
              padding: .5rem 0 0;

              a {
                color: $GrayTwoColor;
                font-size: 14px;
                transition: .3s all ease-in-out;

                svg {
                  width: 16px;
                  height: 16px;
                  margin-right: .5rem;
                }

                &:hover {
                  color: $WhiteColor;
                }
              }
            }
          }

          // Social
          .FNV-Social {
            z-index: 11;
            display: flex;
            overflow: hidden;
            color: $WhiteColor;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            a {
              color: $WhiteColor;
              border-radius: 5px;

              &.FNV-Instagram {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #d6249f;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
              }

              &.FNV-Youtube {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #c4302b;
              }

              &.FNV-Linkedin {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0072b1;
              }

              &.FNV-Facebook {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #3b5998;
              }

              &.FNV-Telegram {
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0088cc;
              }

              svg {
                width: 18px;
                height: 18px;
              }
            }
          }

          &:first-child {
            padding-right: 1rem;
            padding-left: 0;
          }

          &:last-child {
            padding-left: 1rem;
            padding-right: 0;
          }
        }

        .col-12 {
          svg {
            width: 100%;
            margin-bottom: 2rem;
          }

          &.FNV-Copyright {
            padding: 2rem 0 0;
            text-align: center;

            p {
              small {
                direction: ltr;
                color: $WhiteColor;
              }
            }
          }
        }
      }
    }
  }

  // X-Small devices (portrait phones, less than 576px)
  @media (max-width: 575px) {
    .FNV-Footer {
      padding: 1rem;
      background-color: $PrimaryOne;

      .container {
        .row {
          &:first-child {
            margin-bottom: 1rem;

            .col-md {
              display: flex;
              margin: .5rem 0;
              align-items: center;
              justify-content: center;
            }
          }

          svg.col-12 {
            margin: .5rem 0 !important;
          }

          .col-md-4 {
            padding: 0rem;

            p {
              margin-bottom: .5rem;
            }

            .d-flex {
              justify-content: space-between;

              a {
                font-size: 14px;
                font-weight: 400;
                border: 1px solid $WhiteColor;
                border-radius: 8px;
                color: $WhiteColor;
                width: 100%;
                text-align: center;
                padding: .2rem 1rem;
                direction: ltr;
              }
            }

            h4 {
              font-size: 14px;
              color: $WhiteColor;
              font-weight: bold;
            }

            .list-group {
              background-color: transparent;
              padding: 0;

              .list-group-item {
                background-color: transparent;
                border-width: 0;
                padding: 0rem 0 0;

                a {
                  color: $GrayTwoColor;
                  font-size: 14px;
                  transition: .3s all ease-in-out;

                  svg {
                    width: 16px;
                    height: 16px;
                    margin-left: .5rem;
                  }

                  &:hover {
                    color: $WhiteColor;
                  }
                }
              }
            }

            // Social
            .FNV-Social {
              z-index: 11;
              display: flex;
              margin: 1rem 0 2rem;
              overflow: hidden;
              color: $WhiteColor;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;

              a {
                color: $WhiteColor;
                border-radius: 5px;

                svg {
                  width: 20;
                  height: 20;
                }
              }
            }

            p {
              font-size: 16px;
              font-weight: 200;
              color: $WhiteColor;
              text-align: justify;

              &.FNV-Address {
                width: 100%;
                display: flex;
                text-align: left;
                align-items: start;
                margin-bottom: .5rem;
                flex-direction: column;
                justify-content: space-between;

                span {
                  font-size: 14px;
                  color: $PrimaryTwo;
                  margin-bottom: .5rem;
                }

                a {
                  font-size: 14px;
                  color: $WhiteColor;
                }

                a {
                  display: block;
                }
              }

              &.FNV-Telephone {
                display: flex;
                direction: rtl;
                flex-wrap: wrap;
                margin-bottom: .5rem;

                a {
                  display: flex;
                  padding: .5rem;
                  font-size: 8px;
                  color: $WhiteColor;
                  margin-bottom: .5rem;
                  justify-content: space-between;

                  &:first-child {
                    padding-right: 0;
                  }

                  &:nth-child(2) {
                    padding-left: 0;
                  }

                  &:nth-child(3) {
                    padding-right: 0;
                  }

                  &:nth-child(4) {
                    padding-left: 0;
                  }

                  span {
                    &:nth-child(2) {
                      direction: ltr;
                      font-size: 10px;
                    }
                  }

                  &:hover {
                    color: $PrimaryTwo;
                  }
                }
              }
            }
          }

          .col-md {
            padding: 0rem;

            h4 {
              font-size: 12px;
              color: $WhiteColor;
              font-weight: bold;
            }

            .list-group {
              background-color: transparent;
              padding: 0;

              .list-group-item {
                background-color: transparent;
                border-width: 0;
                padding: .2rem 0 0;

                a {
                  color: $GrayTwoColor;
                  font-size: 12px;
                  transition: .3s all ease-in-out;

                  svg {
                    width: 16px;
                    height: 16px;
                    margin-right: .5rem;
                  }

                  &:hover {
                    color: $WhiteColor;
                  }
                }
              }
            }

            // Social
            .FNV-Social {
              z-index: 11;
              display: flex;
              overflow: hidden;
              color: $WhiteColor;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;

              a {
                color: $WhiteColor;
                border-radius: 5px;

                &.FNV-Instagram {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #d6249f;
                  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
                }

                &.FNV-Youtube {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #c4302b;
                }

                &.FNV-Linkedin {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #0072b1;
                }

                &.FNV-Facebook {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #3b5998;
                }

                &.FNV-Telegram {
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background: #0088cc;
                }

                svg {
                  width: 18px;
                  height: 18px;
                }
              }
            }

            &:first-child {
              padding-right: 1rem;
              padding-left: 0;
            }

            &:last-child {
              padding-left: 1rem;
              padding-right: 0;
            }
          }

          .col-12 {
            &.FNV-Copyright {
              padding: .5rem 0 0;
              text-align: center;

              p {
                small {
                  direction: ltr;
                  color: $WhiteColor;
                }
              }
            }
          }
        }
      }
    }
  }
}