@import './variables';

*{
  transition: .3s all ease-in-out;
}

body{
  font-family: 'Helvetica Neue', YekanBakh;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $WhiteColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $PrimaryColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $SecondaryColor;
}