@import './variables';

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .FNV-TopBanner {
    background-color: #f6fcff;

    .container-fluid {
      padding: .5rem 0;

      .row {
        width: 100%;

        .col-12 {
          p {
            display: flex;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            color: $PrimaryTwo;
            justify-content: center;

            svg {
              width: 50px;
              margin-left: .5rem;
            }

            strong {
              margin: 0 .4rem;
              font-weight: 700;
              color: $PrimaryOne;
            }
          }
        }
      }
    }
  }

  .FNV-TopBar {
    padding: .5rem 0rem;
    direction: ltr;
    background-color: $PrimaryBackgroundTwo;

    .container {
      .row {
        .col-6 {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          a {
            font-size: 12px;
            padding: 0 1rem;
            font-weight: 500;
            position: relative;
            text-align: center;
            color: $PrimaryTextOne;

            &:first-child {
              font-size: 14px;
            }

            svg {
              display: none;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $PrimaryTextOne;
          }

          &:first-child {
            margin-bottom: .5rem;
          }

          &:nth-child(2) {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  .FNV-Home {
    .FNV-Header {
      background-image: linear-gradient(89.85deg, rgba(26, 48, 211, 0.8) 0.12%, rgba(26, 48, 211, 0.2) 50%, rgba(26, 48, 211, 0.8) 99.87%), url('/img/Header-bg.jpg');
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding: 10px;

      .container {
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height: 100%;

          .FNV-HCard {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            h1 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 600px;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
              border: 1px solid $WhiteColor;

              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;

                &::after,
                &::before {
                  display: none;
                }

                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }

              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;

                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }

            p {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (min-width: 575.98px) and (max-width: 767px) {
  .FNV-TopBanner {
    background-color: #f6fcff;

    .container-fluid {
      padding: .5rem 0;

      .row {
        width: 100%;

        .col-12 {
          p {
            display: flex;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            color: $PrimaryTwo;
            justify-content: center;

            svg {
              width: 120px;
              margin-left: 1rem;
            }

            strong {
              margin: 0 .5rem;
              font-weight: 700;
              color: $PrimaryOne;
            }
          }
        }
      }
    }
  }

  .FNV-TopBar {
    padding: .5rem 0rem;
    direction: ltr;
    background-color: $PrimaryBackgroundTwo;

    .container {
      .row {
        .col-6 {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          a {
            font-size: 12px;
            padding: 0 1rem;
            font-weight: 500;
            position: relative;
            text-align: center;
            color: $PrimaryTextOne;

            &:first-child {
              font-size: 14px;
            }

            svg {
              display: none;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $PrimaryTextOne;
          }

          &:first-child {
            margin-bottom: .5rem;
          }

          &:nth-child(2) {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  .FNV-Home {
    .FNV-Header {
      background-image: linear-gradient(89.85deg, rgba(26, 48, 211, 0.8) 0.12%, rgba(26, 48, 211, 0.2) 50%, rgba(26, 48, 211, 0.8) 99.87%), url('/img/Header-bg.jpg');
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding: 10px;

      .container {
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height: 100%;

          .FNV-HCard {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            h1 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 600px;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
              border: 1px solid $WhiteColor;

              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;

                &::after,
                &::before {
                  display: none;
                }

                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }

              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;

                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }

            p {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .FNV-TopBanner {
    background-color: #f6fcff;

    .container-fluid {
      padding: .5rem 0;

      .row {
        width: 100%;

        .col-12 {
          p {
            display: flex;
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            color: $PrimaryTwo;
            justify-content: center;

            svg {
              width: 120px;
              margin-left: 1rem;
            }

            strong {
              margin: 0 .5rem;
              font-weight: 700;
              color: $PrimaryOne;
            }
          }
        }
      }
    }
  }

  .FNV-TopBar {
    padding: .5rem 0rem;
    direction: ltr;
    background-color: $PrimaryBackgroundTwo;

    .container {
      .row {
        .col-6 {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;

          a {
            font-size: 10px;
            padding: 0 1rem;
            font-weight: 500;
            position: relative;
            text-align: center;
            color: $PrimaryTextOne;

            &:first-child {
              font-size: 14px;
            }

            svg {
              display: none;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $PrimaryTextOne;
          }

          &:first-child {
            margin-bottom: .5rem;
          }

          &:nth-child(2) {
            margin-bottom: .5rem;
          }
        }
      }
    }
  }

  .FNV-Home {
    .FNV-Header {
      background-image: linear-gradient(89.85deg, rgba(26, 48, 211, 0.8) 0.12%, rgba(26, 48, 211, 0.2) 50%, rgba(26, 48, 211, 0.8) 99.87%), url('/img/Header-bg.jpg');
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding: 10px;

      .container {
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height: 100%;

          .FNV-HCard {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            h1 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 600px;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
              border: 1px solid $WhiteColor;

              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;

                &::after,
                &::before {
                  display: none;
                }

                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }

              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;

                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }

            p {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 992px) {
  .FNV-TopBanner {
    background-color: #f6fcff;

    .container-fluid {
      padding: .5rem 0;

      .row {
        width: 100%;

        .col-12 {
          p {
            display: flex;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            color: $PrimaryTwo;
            justify-content: center;

            svg {
              width: 120px;
              margin-left: 1rem;
            }

            strong {
              margin: 0 .5rem;
              font-weight: 700;
              color: $PrimaryOne;
            }
          }
        }
      }
    }
  }

  .FNV-TopBar {
    background-color: $PrimaryBackgroundTwo;
    direction: ltr;
    padding: 1rem 0rem;

    .container {
      .row {
        .col-6 {
          padding: 0;
          display: flex;
          justify-content: center;

          a {
            font-size: 10px;
            padding: 0 .1rem;
            font-weight: 500;
            position: relative;
            color: $PrimaryTextOne;

            svg {
              display: none;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $PrimaryTextOne;
          }
        }
      }
    }
  }

  .FNV-Home {
    .FNV-Header {
      background-image: linear-gradient(89.85deg, rgba(26, 48, 211, 0.8) 0.12%, rgba(26, 48, 211, 0.2) 50%, rgba(26, 48, 211, 0.8) 99.87%), url('/img/Header-bg.jpg');
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding: 10px;

      .container {
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height: 100%;

          .FNV-HCard {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            h1 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 600px;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
              border: 1px solid $WhiteColor;

              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;

                &::after,
                &::before {
                  display: none;
                }

                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }

              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;

                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }

            p {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
  .FNV-TopBanner {
    background-color: #f6fcff;

    .container-fluid {
      padding: .5rem 0;

      .row {
        width: 100%;

        .col-12 {
          p {
            display: flex;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            color: $PrimaryTwo;
            justify-content: center;

            svg {
              width: 120px;
              margin-left: 1rem;
            }

            strong {
              margin: 0 .5rem;
              font-weight: 700;
              color: $PrimaryOne;
            }
          }
        }
      }
    }
  }

  .FNV-TopBar {
    direction: ltr;
    padding: 1rem 0rem;
    background-color: $PrimaryBackgroundTwo;

    .container {
      .row {
        .col-6 {
          padding: 0;
          display: flex;
          justify-content: center;

          a {
            font-size: 12px;
            padding: 0 .1rem;
            font-weight: 500;
            position: relative;
            color: $PrimaryTextOne;

            svg {
              width: 18px;
              height: 14px;
              margin-right: .5rem;
              color: $PrimaryTextOne;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $PrimaryTextOne;
          }
        }
      }
    }
  }

  .FNV-Home {
    .FNV-Header {
      background-image: linear-gradient(89.85deg, rgba(26, 48, 211, 0.8) 0.12%, rgba(26, 48, 211, 0.2) 50%, rgba(26, 48, 211, 0.8) 99.87%), url('/img/Header-bg.jpg');
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding: 10px;

      .container {
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height: 100%;

          .FNV-HCard {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            h1 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 600px;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
              border: 1px solid $WhiteColor;

              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;

                &::after,
                &::before {
                  display: none;
                }

                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }

              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;

                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }

            p {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .FNV-TopBanner {
    background-color: #f6fcff;

    .container-fluid {
      padding: .5rem 0;

      .row {
        width: 100%;

        .col-12 {
          p {
            display: flex;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            color: $PrimaryTwo;
            justify-content: center;

            svg {
              width: 120px;
              margin-left: 1rem;
            }

            strong {
              margin: 0 .5rem;
              font-weight: 700;
              color: $PrimaryOne;
            }
          }
        }
      }
    }
  }

  .FNV-TopBar {
    direction: ltr;
    padding: 1rem 0rem;
    background-color: $PrimaryBackgroundTwo;

    .container {
      .row {
        .col-6 {
          padding: 0;
          display: flex;
          justify-content: center;

          a {
            display: flex;
            font-size: 12px;
            padding: 0 .5rem;
            font-weight: 500;
            position: relative;
            align-items: center;
            color: $PrimaryTextOne;

            svg {
              width: 18px;
              height: 14px;
              display: block;
              margin-right: .5rem;
              color: $PrimaryTextOne;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $PrimaryTextOne;
          }
        }
      }
    }
  }

  .FNV-Home {
    .FNV-Header {
      background-image: linear-gradient(89.85deg, rgba(26, 48, 211, 0.8) 0.12%, rgba(26, 48, 211, 0.2) 50%, rgba(26, 48, 211, 0.8) 99.87%), url('/img/Header-bg.jpg');
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding: 10px;

      .container {
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height: 100%;

          .FNV-HCard {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            h1 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 600px;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
              border: 1px solid $WhiteColor;

              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;

                &::after,
                &::before {
                  display: none;
                }

                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }

              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;

                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }

            p {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}

// XXX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {
  .FNV-TopBanner {
    background-color: #f6fcff;

    .container-fluid {
      padding: .5rem 0;

      .row {
        width: 100%;

        .col-12 {
          p {
            display: flex;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 0;
            text-align: center;
            color: $PrimaryTwo;
            justify-content: center;

            svg {
              width: 120px;
              margin-left: 1rem;
            }

            strong {
              margin: 0 .5rem;
              font-weight: 700;
              color: $PrimaryOne;
            }
          }
        }
      }
    }
  }

  .FNV-TopBar {
    padding: 1rem 0rem;
    direction: ltr;
    background-color: $PrimaryBackgroundTwo;

    .container {
      .row {
        .col-6 {
          padding: 0;
          display: flex;
          justify-content: center;

          a {
            display: flex;
            font-size: 14px;
            padding: 0 1rem;
            font-weight: 500;
            position: relative;
            align-items: center;
            color: $PrimaryTextOne;

            svg {
              width: 18px;
              height: 14px;
              display: block;
              margin-right: .5rem;
              color: $PrimaryTextOne;
            }
          }

          &:not(:last-child) {
            border-right: 1px solid $PrimaryTextOne;
          }
        }
      }
    }
  }

  .FNV-Home {
    .FNV-Header {
      background-image: linear-gradient(89.85deg, rgba(26, 48, 211, 0.8) 0.12%, rgba(26, 48, 211, 0.2) 50%, rgba(26, 48, 211, 0.8) 99.87%), url('/img/Header-bg.jpg');
      background-size: cover;
      background-position: center center;
      height: 550px;
      padding: 10px;

      .container {
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height: 100%;

          .FNV-HCard {
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            h1 {
              margin-bottom: 2rem;
              font-size: 35px;
              font-weight: 800;
              color: $WhiteColor;
              text-align: center;
              text-transform: uppercase;

              mark {
                background-color: transparent;
                color: $SecondaryColor;
              }
            }

            .FNV-HSearch {
              background-color: rgba(255, 255, 255, 0.6);
              width: 600px;
              border-radius: 15px;
              overflow: hidden;
              padding: .8rem;
              border: 1px solid $WhiteColor;

              .FNV-HSearchInput {
                background-color: transparent !important;
                border-width: 0;
                box-shadow: unset;
                border-radius: 15px;
                color: $PrimaryColor;
                font-size: 16px;
                font-weight: 400;

                &::after,
                &::before {
                  display: none;
                }

                &::placeholder,
                &:-ms-input-placeholder {
                  color: $PrimaryColor !important;
                }
              }

              button {
                background-color: $PrimaryColor;
                color: $WhiteColor;
                border-radius: 15px 15px 15px 15px !important;
                width: 75px;

                svg {
                  width: 30px;
                  height: 30px;
                  color: $WhiteColor
                }
              }
            }

            p {
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}