body[dir='ltr'] {

    // X-Small devices (portrait phones, less than 576px)
    @media (max-width: 575px) {
        .FNV-HomeAbout {
            padding: 1rem;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: right center;
                background-image: url("/images/pages/about/about-us-r.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `sm` applies to x-small devices (portrait phones, less than 576px)
    @media (min-width: 575.98px) and (max-width: 767px) {
        .FNV-HomeAbout {
            padding: 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: right center;
                background-image: url("/images/pages/about/about-us-r.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `md` applies to small devices (landscape phones, less than 768px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us-r.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `lg` applies to medium devices (tablets, less than 992px)
    @media (min-width: 992px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us-r.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `xl` applies to large devices (desktops, less than 1200px)
    @media (min-width: 1199.98px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us-r.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 4rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us-r.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // XXX-Large devices (larger desktops, 1920px and up)
    @media (min-width: 1920px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 4rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us-r.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }
}

body[dir='rtl'] {

    // X-Small devices (portrait phones, less than 576px)
    @media (max-width: 575px) {
        .FNV-HomeAbout {
            padding: 1rem;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: right center;
                background-image: url("/images/pages/about/about-us.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `sm` applies to x-small devices (portrait phones, less than 576px)
    @media (min-width: 575.98px) and (max-width: 767px) {
        .FNV-HomeAbout {
            padding: 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: right center;
                background-image: url("/images/pages/about/about-us.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `md` applies to small devices (landscape phones, less than 768px)
    @media (min-width: 767.98px) and (max-width: 991.98px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `lg` applies to medium devices (tablets, less than 992px)
    @media (min-width: 992px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // `xl` applies to large devices (desktops, less than 1200px)
    @media (min-width: 1199.98px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 2rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 4rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }

    // XXX-Large devices (larger desktops, 1920px and up)
    @media (min-width: 1920px) {
        .FNV-HomeAbout {
            padding: 2rem 0;
            background-color: $WhiteColor;

            .container {
                padding: 4rem;
                border-radius: 28px;
                background-size: cover;
                background-position: center;
                background-image: url("/images/pages/about/about-us.jpg");

                .row {
                    .col-md-6 {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        h2 {
                            font-size: 35px;
                            font-weight: 600;
                            color: $WhiteColor;
                            margin-bottom: 2rem;
                        }

                        p {
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;

                            &:last-child {
                                margin-bottom: 2rem;
                            }
                        }

                        a {
                            margin: 1rem 0;
                            font-size: 20px;
                            font-weight: 400;
                            color: $WhiteColor;
                            padding: .5rem 2rem;
                            border-radius: 8px;
                            border: 2px solid $WhiteColor;
                        }
                    }
                }
            }
        }
    }
}