@import './variables';

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .FNV-Top_Categories {
    padding: 1rem;
    background-color: $WhiteColor;

    .container {
      h2 {
        font-size: 28px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        justify-content: center;

        .col-md-3 {
          .card {
            display: flex;
            padding: 2rem;
            border-width: 0;
            border-radius: 27px;
            margin-bottom: 2rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $WhiteThree;

            svg {
              width: 150px;
            }

            h3 {
              font-size: 18px;
              margin: 1rem 0 0;
              font-weight: 700;
              color: $PrimaryOne; 
            }

            &:hover {
              background-color: $PrimaryOne;

              svg {
                path {
                  stroke: $White;
                }
              }

              h3 {
                color: $White;
              }
            }
          }
        }
      }
    }
  }

  .FNV-Mission {
    padding: 1rem;
    background-color: $White;

    .container {
      h2 {
        z-index: 4;
        font-size: 28px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        .col-md-4 {
          padding: 0;

          .card {
            display: flex;
            padding: 2rem;
            margin-top: 2rem;
            min-height: unset;
            border-radius: 28px;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $PrimaryOne;
            justify-content: space-between;
            background-position: center center;
            background-image: url("/images/pages/mission.jpg");

            svg {
              margin-bottom: 1rem;
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
              color: $PrimaryOne;
              margin-bottom: 1rem;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
              min-height: unset;
              color: $PrimaryOne;
            }

            a {
              color: $White;
              display: flex;
              padding: 1rem;
              align-items: center;
              justify-content: center;
              border-radius: 16px!important;
              background-color: $PrimaryOne;

              span {
                font-size: 14px;
                font-weight: 400;
              }

              svg {
                margin: 0 1rem;
                margin-bottom: 0;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .FNV-Top_Categories {
    background-color: $WhiteColor;
    padding: 4rem 0;

    .container {
      h2 {
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 5rem;
      }

      .row {
        justify-content: center;

        .col-md-3 {
          .card {
            display: flex;
            padding: 2rem;
            border-width: 0;
            border-radius: 27px;
            margin-bottom: 2rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $WhiteThree;

            svg {
              width: 150px;
            }

            h3 {
              font-size: 24px;
              margin: 1rem 0 0;
              font-weight: 700;
              color: $PrimaryOne; 
            }

            &:hover {
              background-color: $PrimaryOne;

              svg {
                path {
                  stroke: $White;
                }
              }

              h3 {
                color: $White;
              }
            }
          }
        }
      }
    }
  }

  .FNV-Mission {
    padding: 4rem 0;
    background-color: $White;

    .container {
      h2 {
        z-index: 4;
        font-size: 35px;
        font-weight: 600;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        .col-md-4 {
          .card {
            display: flex;
            padding: 2rem;
            margin-top: 2rem;
            min-height: unset;
            border-radius: 28px;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $PrimaryOne;
            justify-content: space-between;
            background-position: center center;
            background-image: url("/images/pages/mission.jpg");

            svg {
              margin-bottom: 1rem;
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
              color: $PrimaryOne;
              margin-bottom: 1rem;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
              min-height: unset;
              color: $PrimaryOne;
            }

            a {
              color: $White;
              display: flex;
              padding: 1rem;
              align-items: center;
              justify-content: center;
              border-radius: 16px!important;
              background-color: $PrimaryOne;

              span {
                font-size: 14px;
                font-weight: 400;
              }

              svg {
                margin: 0 1rem;
                margin-bottom: 0;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .FNV-Top_Categories {
    background-color: $WhiteColor;
    padding: 4rem 0;

    .container {
      h2 {
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 5rem;
      }

      .row {
        justify-content: center;

        .col-md-3 {
          .card {
            display: flex;
            padding: 2rem;
            border-width: 0;
            border-radius: 27px;
            margin-bottom: 2rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $WhiteThree;

            svg {
              width: 150px;
            }

            h3 {
              font-size: 16px;
              margin: 1rem 0 0;
              font-weight: 700;
              color: $PrimaryOne; 
            }

            &:hover {
              background-color: $PrimaryOne;

              svg {
                path {
                  stroke: $White;
                }
              }

              h3 {
                color: $White;
              }
            }
          }
        }
      }
    }
  }

  .FNV-Mission {
    padding: 4rem 0;
    background-color: $White;

    .container {
      h2 {
        z-index: 4;
        font-size: 35px;
        font-weight: 600;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        .col-md-4 {
          .card {
            display: flex;
            padding: 1rem;
            margin-top: 2rem;
            min-height: 600px;
            border-radius: 28px;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $PrimaryOne;
            justify-content: space-between;
            background-position: center center;
            background-image: url("/images/pages/mission.jpg");

            svg {
              margin-bottom: 1rem;
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
              color: $PrimaryOne;
              margin-bottom: 1rem;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 22px;
              min-height: 270px;
              color: $PrimaryOne;
            }

            a {
              color: $White;
              display: flex;
              padding: 1rem;
              align-items: center;
              justify-content: center;
              border-radius: 16px!important;
              background-color: $PrimaryOne;

              span {
                font-size: 14px;
                font-weight: 400;
              }

              svg {
                margin: 0 1rem;
                margin-bottom: 0;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
  .FNV-Top_Categories {
    background-color: $WhiteColor;
    padding: 4rem 0;

    .container {
      h2 {
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 5rem;
      }

      .row {
        justify-content: center;

        .col-md-3 {
          .card {
            display: flex;
            padding: 2rem;
            border-width: 0;
            border-radius: 27px;
            margin-bottom: 2rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $WhiteThree;

            svg {
              width: 150px;
            }

            h3 {
              font-size: 24px;
              margin: 1rem 0 0;
              font-weight: 700;
              color: $PrimaryOne; 
            }

            &:hover {
              background-color: $PrimaryOne;

              svg {
                path {
                  stroke: $White;
                }
              }

              h3 {
                color: $White;
              }
            }
          }
        }
      }
    }
  }

  .FNV-Mission {
    padding: 4rem 0;
    background-color: $White;

    .container {
      h2 {
        z-index: 4;
        font-size: 35px;
        font-weight: 600;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        .col-md-4 {
          .card {
            display: flex;
            padding: 1rem;
            margin-top: 2rem;
            min-height: 600px;
            border-radius: 28px;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $PrimaryOne;
            justify-content: space-between;
            background-position: center center;
            background-image: url("/images/pages/mission.jpg");

            svg {
              margin-bottom: 1rem;
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
              color: $PrimaryOne;
              margin-bottom: 1rem;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 36px;
              min-height: 270px;
              color: $PrimaryOne;
            }

            a {
              color: $White;
              display: flex;
              padding: 1rem 2rem;
              align-items: center;
              justify-content: center;
              border-radius: 16px!important;
              background-color: $PrimaryOne;

              span {
                font-size: 18px;
                font-weight: 400;
              }

              svg {
                margin: 0 1rem;
                margin-bottom: 0;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
  .FNV-Top_Categories {
    background-color: $WhiteColor;
    padding: 4rem 0;

    .container {
      h2 {
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 5rem;
      }

      .row {
        justify-content: center;

        .col-md-3 {
          .card {
            display: flex;
            padding: 2rem;
            border-width: 0;
            border-radius: 27px;
            margin-bottom: 2rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $WhiteThree;

            svg {
              width: 150px;
            }

            h3 {
              font-size: 24px;
              margin: 1rem 0 0;
              font-weight: 700;
              color: $PrimaryOne; 
            }

            &:hover {
              background-color: $PrimaryOne;

              svg {
                path {
                  stroke: $White;
                }
              }

              h3 {
                color: $White;
              }
            }
          }
        }
      }
    }
  }

  .FNV-Mission {
    padding: 4rem 0;
    background-color: $White;

    .container {
      h2 {
        z-index: 4;
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        .col-md-4 {
          .card {
            display: flex;
            padding: 1rem;
            margin-top: 2rem;
            min-height: 540px;
            border-radius: 28px;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $PrimaryOne;
            justify-content: space-between;
            background-position: center center;
            background-image: url("/images/pages/mission.jpg");

            svg {
              margin-bottom: 1rem;
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
              color: $PrimaryOne;
              margin-bottom: 1rem;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 36px;
              min-height: 270px;
              color: $PrimaryOne;
            }

            a {
              color: $White;
              display: flex;
              padding: 1rem 2rem;
              align-items: center;
              justify-content: center;
              border-radius: 16px!important;
              background-color: $PrimaryOne;

              span {
                font-size: 18px;
                font-weight: 400;
              }

              svg {
                margin: 0 1rem;
                margin-bottom: 0;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .FNV-Top_Categories {
    background-color: $WhiteColor;
    padding: 4rem 0;

    .container {
      h2 {
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 5rem;
      }

      .row {
        justify-content: center;

        .col-md-3 {
          .card {
            display: flex;
            padding: 2rem;
            border-width: 0;
            border-radius: 27px;
            margin-bottom: 2rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $WhiteThree;

            svg {
              width: 150px;
            }

            h3 {
              font-size: 24px;
              font-weight: 700;
              color: $PrimaryOne;
            }

            &:hover {
              background-color: $PrimaryOne;

              svg {
                path {
                  stroke: $White;
                }
              }

              h3 {
                color: $White;
              }
            }
          }
        }
      }
    }
  }

  .FNV-Mission {
    padding: 4rem 0;
    background-color: $White;

    .container {
      h2 {
        z-index: 4;
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        .col-md-4 {
          .card {
            display: flex;
            margin-top: 2rem;
            min-height: 640px;
            padding: 4rem 3rem;
            border-radius: 28px;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $PrimaryOne;
            justify-content: space-between;
            background-position: center center;
            background-image: url("/images/pages/mission.jpg");

            svg {
              margin-bottom: 1rem;
            }

            h3 {
              font-size: 16px;
              font-weight: 600;
              color: $PrimaryOne;
              margin-bottom: 1rem;
            }

            p {
              font-size: 14px;
              font-weight: 500;
              line-height: 36px;
              min-height: 270px;
              color: $PrimaryOne;
            }

            a {
              color: $White;
              display: flex;
              padding: 1rem 2rem;
              align-items: center;
              justify-content: center;
              border-radius: 16px!important;
              background-color: $PrimaryOne;

              span {
                font-size: 18px;
                font-weight: 400;
              }

              svg {
                margin: 0 1rem;
                margin-bottom: 0;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

// XXX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {
  .FNV-Top_Categories {
    background-color: $WhiteColor;
    padding: 4rem 0;

    .container {
      h2 {
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 5rem;
      }

      .row {
        justify-content: center;

        .col-md-3 {
          .card {
            display: flex;
            padding: 2rem;
            border-width: 0;
            border-radius: 27px;
            margin-bottom: 2rem;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-color: $WhiteThree;

            svg {
              width: 150px;
            }

            h3 {
              font-size: 24px;
              font-weight: 700;
              color: $PrimaryOne;
            }

            &:hover {
              background-color: $PrimaryOne;

              svg {
                path {
                  stroke: $White;
                }
              }

              h3 {
                color: $White;
              }
            }
          }
        }
      }
    }
  }

  .FNV-Mission {
    padding: 4rem 0;
    background-color: $White;

    .container {
      h2 {
        z-index: 4;
        font-size: 35px;
        font-weight: 800;
        color: $PrimaryOne;
        text-align: center;
        margin-bottom: 2rem;
      }

      .row {
        .col-md-4 {
          .card {
            display: flex;
            margin-top: 2rem;
            min-height: 620px;
            padding: 4rem 3rem;
            border-radius: 28px;
            flex-direction: column;
            background-size: cover;
            background-repeat: no-repeat;
            border: 1px solid $PrimaryOne;
            justify-content: space-between;
            background-position: center center;
            background-image: url("/images/pages/mission.jpg");

            svg {
              margin-bottom: 1rem;
            }

            h3 {
              font-size: 24px;
              font-weight: 600;
              color: $PrimaryOne;
              margin-bottom: 1rem;
            }

            p {
              font-size: 16px;
              font-weight: 500;
              line-height: 36px;
              min-height: 270px;
              color: $PrimaryOne;
            }

            a {
              color: $White;
              display: flex;
              padding: 1rem 2rem;
              align-items: center;
              justify-content: center;
              border-radius: 16px!important;
              background-color: $PrimaryOne;

              span {
                font-size: 18px;
                font-weight: 400;
              }

              svg {
                margin: 0 1rem;
                margin-bottom: 0;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}