// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .FNV-HomeWhy {
        padding: 1rem;
        background-color: $White;

        .container {
            padding: 2rem;
            border-radius: 28px;
            background-color: $PrimaryOne;

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 22px;
                        font-weight: 600;
                        color: $WhiteThree;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: $WhiteThree;
                    }

                    &:nth-child(2) {
                        padding: 0rem;

                        .row {
                            margin: auto;

                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 16px;
                                margin-bottom: 2rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                svg{
                                    width: 30px;
                                    height: 30px;
                                }

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: $PrimaryOne;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                    color: $PrimaryOne;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .FNV-HomeWhy {
        padding: 0;
        background-color: $White;

        .container {
            padding: 2rem;
            border-radius: 28px;
            background-color: $PrimaryOne;

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 28px;
                        font-weight: 600;
                        color: $WhiteThree;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: $WhiteThree;
                    }

                    &:nth-child(2) {
                        padding-right: 4rem;

                        .row {
                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 16px;
                                margin-bottom: 2rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: $PrimaryOne;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                    color: $PrimaryOne;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .FNV-HomeWhy {
        padding: 0;
        background-color: $White;

        .container {
            padding: 2rem;
            border-radius: 28px;
            background-color: $PrimaryOne;

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 28px;
                        font-weight: 600;
                        color: $WhiteThree;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: $WhiteThree;
                    }

                    &:nth-child(2) {
                        padding-right: 4rem;

                        .row {
                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 16px;
                                margin-bottom: 2rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                svg{
                                    width: 20px;
                                }

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: $PrimaryOne;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                    color: $PrimaryOne;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
    .FNV-HomeWhy {
        padding: 0;
        background-color: $White;

        .container {
            padding: 2rem;
            border-radius: 28px;
            background-color: $PrimaryOne;

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 28px;
                        font-weight: 600;
                        color: $WhiteThree;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: $WhiteThree;
                    }

                    &:nth-child(2) {
                        padding-right: 4rem;

                        .row {
                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 16px;
                                margin-bottom: 2rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: $PrimaryOne;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                    color: $PrimaryOne;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
    .FNV-HomeWhy {
        padding: 0;
        background-color: $White;

        .container {
            padding: 2rem;
            border-radius: 28px;
            background-color: $PrimaryOne;

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 28px;
                        font-weight: 600;
                        color: $WhiteThree;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        color: $WhiteThree;
                    }

                    &:nth-child(2) {
                        padding-right: 4rem;

                        .row {
                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 16px;
                                margin-bottom: 2rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                h3 {
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: $PrimaryOne;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                    color: $PrimaryOne;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .FNV-HomeWhy {
        padding: 0;
        background-color: $White;

        .container {
            padding: 2rem;
            border-radius: 28px;
            background-color: $PrimaryOne;

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 28px;
                        font-weight: 600;
                        color: $WhiteThree;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        color: $WhiteThree;
                    }

                    &:nth-child(2) {
                        padding-right: 4rem;

                        .row {
                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 16px;
                                margin-bottom: 2rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                h3 {
                                    font-size: 20px;
                                    font-weight: 700;
                                    color: $PrimaryOne;
                                }

                                p {
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                    color: $PrimaryOne;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// XXX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {
    .FNV-HomeWhy {
        padding: 0;
        background-color: $White;

        .container {
            padding: 4rem;
            border-radius: 28px;
            background-color: $PrimaryOne;

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 35px;
                        font-weight: 600;
                        color: $WhiteThree;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        color: $WhiteThree;
                    }

                    &:nth-child(2) {
                        padding-right: 4rem;

                        .row {
                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 16px;
                                margin-bottom: 2rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                h3 {
                                    font-size: 24px;
                                    font-weight: 700;
                                    color: $PrimaryOne;
                                }

                                p {
                                    font-size: 20px;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                    color: $PrimaryOne;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}