body[dir='ltr'] {
    .FNV-HomeWhy {
        padding: 4rem 0;
        background-color: $PrimaryBackgroundTwo;

        .container {
            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    h2 {
                        font-size: 48px;
                        font-weight: 300;
                        color: $PrimaryOne;
                        margin-bottom: 2rem;
                    }

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        color: $PrimaryOne;
                    }
                }
            }
        }
    }
}

body[dir='rtl'] {
    .FNV-HomeWhy {
        padding: 8rem 0;
        background-color: $PrimaryBackgroundTwo;

        .container {
            h2 {
                font-size: 48px;
                font-weight: 300;
                color: $PrimaryOne;
                margin-bottom: 2rem;
            }

            .row {
                .col-md-6 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    p {
                        font-size: 20px;
                        font-weight: 400;
                        color: $PrimaryOne;
                    }

                    &:nth-child(2) {
                        padding-right: 4rem;

                        .row {
                            &.card {
                                width: 100%;
                                padding: 1rem;
                                border-width: 0;
                                border-radius: 0;
                                margin-bottom: 1rem;
                                align-items: center;
                                flex-direction: row;
                                background-color: $WhiteColor;

                                h3 {
                                    font-size: 24px;
                                    font-weight: 300;
                                }

                                p {
                                    font-size: 16px;
                                    font-weight: 300;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}