.FNV-LatestBlog{
    background: rgb(0,59,191);
    background: -moz-linear-gradient(180deg, rgba(0,59,191,0.19931722689075626) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,59,191,0.19931722689075626) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(0,59,191,0.19931722689075626) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003bbf",endColorstr="#ffffff",GradientType=1);

    margin-top: -12rem;
    padding-top: 20rem;
    padding-bottom: 5rem;
    z-index: 1;
    overflow: hidden;

    h3 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        position: relative;
        color: $PrimaryColor;
        margin-bottom: 5rem;

        &::before {
            content: "";
            display: block;
            width: 40%;
            height: 2px;
            background: $SecondaryColor;
            left: -1rem;
            top: 50%;
            position: absolute;
        }


        &::after {
            content: "";
            display: block;
            width: 40%;
            height: 2px;
            background: $SecondaryColor;
            right: -1rem;
            top: 50%;
            position: absolute;
        }
    }

    .container {
        .row {
            .col-12 {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            padding: 0 0 10rem;

                            .card {
                                border-width: 0;
                                border-radius: 18px;
                                overflow: visible;
                                cursor: grab;

                                &:active,
                                &:target {
                                    cursor: grabbing;
                                }

                                .card-body {
                                    background-color: $WhiteColor;
                                    border-radius: 18px;
                                    margin-top: -3rem;
                                    height: 100px;

                                    h4 {
                                        font-size: 16px;
                                        line-height: 32px;
                                        font-weight: 700;
                                        color: $PrimaryColor;
                                        text-align: left;
                                    }

                                    span{
                                        font-size: 14px;
                                        line-height: 1px;
                                        font-weight: 400;
                                        color: $PrimaryColor;
                                        margin-bottom: 5rem;

                                        svg{
                                            width: 16px;
                                            height: 16px;
                                        }
                                    }

                                    .FNV-Btn{
                                        position: absolute;
                                        bottom: -1.5rem;
                                        z-index: 15;
                                    }
                                }
                            }
                        }
                    }
                }

                .swiper-pagination {
                    top: unset;
                    bottom: 3rem;
                }
            }
        }
    }
}