@import './variables';

body[dir='rtl']{
  nav {
    .container-fluid {
      padding: 0 1rem;
  
      &:first-child {
        background-color: $WhiteColor;
        padding: 0.75rem 1rem;
  
        .OffCanvasMenu {
          padding-right: 0.75rem;
          padding-left: 0.5rem;
  
          svg {
            color: $PrimaryColor;
          }
        }
  
        .OffCanvasMenu2{
          margin-right: 1rem;
          color: $PrimaryColor;
        }
  
        .navbar-brand {
          width: 200px;
          padding-left: 0.5rem;
          border-left: 1px solid $GrayTwoColor;
        }
  
        .FNV-User {
          .FNV-Btn {
            background-color: unset;
            display: flex;
            align-items: center;

            .FNV-UserAvatar{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $PrimaryColor;
              border: 2px solid $PrimaryColor;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: .5rem;
              margin: 0 .5rem;

              svg{
                stroke: $WhiteColor;
              }
            }
  
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 2px solid $PrimaryColor;
              object-fit: cover;
              margin: 0 .5rem;
            }

            &::after{
              margin-right: .5rem;
              margin-left: unset;
            }
          }
  
          .dropdown-menu {
            border-width: 0px;
            box-shadow: 0px 0px 20px #00000020;
            
            li {
              padding-bottom: 0.3rem;
              text-align: right;
              a {
                font-size: 14px;

                svg {
                  color: $PrimaryColor;
                  width: 20px;
                  height: 20px;
                  margin-left: 0.5rem;
                }
              }
            }
          }
        }
      }
  
      &:nth-child(2) {
        background-color: $GrayOneColor;
        border-bottom: 5px solid $PrimaryColor;
        border-top: 1px solid $GrayTwoColor;
  
        .collapse{
          display: flex;
          justify-content: space-between;

          .navbar-nav{
            padding-right: 0;

            .nav-item{
              &.FNV-Appointment{
                background: linear-gradient(-45deg, #003BBF, #FF772C, #003BBF);
                background-size: 400% 400%;
                animation: gradient 3s ease-in-out infinite;

                a{
                  color: $WhiteColor;
                }
              }

              .dropdown-menu.show{
                right: 0;
                left: unset;
                padding: 0;

                li{
                  text-align: start;

                  a{
                    color: $FourthColor;
                  }

                  &:hover{
                    background-color: $PrimaryColor!important;

                    a{
                      background-color: unset;
                      color: $WhiteColor;
                    }
                  }
                }
              }

              .nav-link{
                font-size: 16px;
                font-weight: 600;
              }
            }
          }
        }
      }
  
      .FNV_QuickAccess{
        a{
          margin-left: .5rem;
          font-size: 14px;
          line-height: 22px;
  
          svg{
            width: 20px;
            height: 20px;
          }
        }
      }
  
      .navbar-nav {
        .nav-item {
  
          .nav-link {
            font-size: 16px;
            font-weight: 400;
            line-height: 40px;
            padding: .5rem 1rem;
          }
  
          &:hover .nav-link {
            background-color: $PrimaryColor;
            color: $WhiteColor;
          }
        }
      }
  
      .FNV-MegaMenu {
        position: static;

        &.FNV-VIPMemberShip{
          .dropdown-menu{
            width: 550px;
          }
        }
  
        &:hover .dropdown-menu {
          display: block;
          margin-top: 0px;
          padding: 1.5rem;
          border-width: 0;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          box-shadow: 0px 20px 20px $ShadowPrimary;
          overflow: hidden;
        }
  
        .dropdown-menu{
          .container-fluid{
            padding-left: 0px;
            padding-bottom: 0px;

            a{
              display: block;
              font-size: 24px;
              font-weight: 600;
              text-align: right;
              color: $PrimaryColor;
  
              span{
                font-size: 14px;
                font-weight: 400;
                border-left: 0px;
                text-align: right;
                margin-right: 1rem;
                padding-right: 1rem;
                color: $GrayThreeColor;
                border-right: 1px solid #ababab;
              }
            }
  
            .row{
              padding-top: 1rem;
              .col-md-3, .col-md-6, .col{
                .row{
                  padding: 0;
  
                  &.FNV-QuickAction{
                    height: 100%;
  
                    .col-12{
                      a{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-evenly;
                        align-items: center;
                        background-color: $LightColor;
  
                        svg{
                          width: 50px;
                          height: 50px;
                          color: $SecondaryColor;
                        }
  
                        span{
                          margin: 0;
                          padding: 0;
                          border-width: 0;
                          font-size: 18px;
                          text-align: right;
                          color: $PrimaryColor;
                        }
                      }
                    }
                  }
                }
                
                span{
                  display: block;
                  font-size: 16px;
                  font-weight: 700;
                  text-align: right;
                  line-height: 32px;
                  color: $FourthColor;
                  margin-bottom: .8rem;
  
                  svg{
                    width: 12px;
                    height: 12px;
                    margin-left: .5rem;
                    color: $SecondaryColor;
                  }
                }
                
                li{
                  a{
                    font-size: 14px;
                    font-weight: 300;
                    color: $GrayThreeColor;
                    transition: .1s all ease-in-out;
  
                    &:hover{
                      color: $SecondaryColor;
                      border-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
  
      .FNV-MegaMenu-Search {
        position: static;
  
        &:hover .dropdown-menu {
          display: block;
          margin-top: 0px;
          width: 800px;
          border-width: 0;
          right: 0;
        }
      }
    }
  
    &.FNV-MegaMenu{
      background-color: $LightColor;
    }
  }
}

body[dir='ltr']{
  nav {
    .container-fluid {
      padding: 0 1rem;
  
      &:first-child {
        background-color: $WhiteColor;
        padding: 0.75rem 1rem;
  
        .OffCanvasMenu {
          padding-right: 0.75rem;
          padding-left: 0.5rem;
  
          svg {
            color: $PrimaryColor;
          }
        }
  
        .OffCanvasMenu2{
          margin-right: 1rem;
          color: $PrimaryColor;
        }
  
        .navbar-brand {
          width: 200px;
          padding-left: 0.5rem;
          border-left: 1px solid $GrayTwoColor;
        }
  
        .FNV-User {
          .FNV-Btn {
            background-color: unset;
            display: flex;
            align-items: center;

            .FNV-UserAvatar{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $PrimaryColor;
              border: 2px solid $PrimaryColor;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: .5rem;
              margin: 0 .5rem;

              svg{
                stroke: $WhiteColor;
              }
            }
  
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: 2px solid $PrimaryColor;
              object-fit: cover;
              margin: 0 .5rem;
            }

            &::after{
              margin-left: .5rem;
              margin-right: unset;
            }
          }
  
          .dropdown-menu {
            border-width: 0px;
            box-shadow: 0px 0px 20px #00000020;
            
            li {
              padding-bottom: 0.3rem;
              text-align: left;
              a {
                font-size: 14px;

                svg {
                  color: $PrimaryColor;
                  width: 20px;
                  height: 20px;
                  margin-right: 0.5rem;
                }
              }
            }
          }
        }
      }
  
      &:nth-child(2) {
        background-color: $GrayOneColor;
        border-bottom: 5px solid $PrimaryColor;
        border-top: 1px solid $GrayTwoColor;
  
        .collapse{
          display: flex;
          justify-content: space-between;

          .navbar-nav{
            .nav-item{

              &.FNV-Appointment{
                background: linear-gradient(-45deg, #003BBF, #FF772C, #003BBF);
                background-size: 400% 400%;
                animation: gradient 3s ease-in-out infinite;

                a{
                  color: $WhiteColor;
                }
              }

              .dropdown-menu.show{
                right: unset;
                left: 0;
                padding: 0;

                li{
                  text-align: start;

                  a{
                    color: $FourthColor;
                  }

                  &:hover{
                    background-color: $PrimaryColor!important;

                    a{
                      background-color: unset;
                      color: $WhiteColor;
                    }
                  }
                }
              }

              .nav-link{
                font-size: 16px;
                font-weight: 600;
              }
            }
          }
        }
      }
  
      .FNV_QuickAccess{
        a{
          margin-left: .5rem;
          font-size: 14px;
          line-height: 22px;
  
          svg{
            width: 20px;
            height: 20px;
          }
        }
      }
  
      .navbar-nav {
        .nav-item {
  
          .nav-link {
            font-size: 16px;
            font-weight: 400;
            line-height: 40px;
            padding: .5rem 1rem;
          }
  
          &:hover .nav-link {
            background-color: $PrimaryColor;
            color: $WhiteColor;
          }
        }
      }
  
      .FNV-MegaMenu {
        position: static;
  
        &.FNV-VIPMemberShip{
          .dropdown-menu{
            width: 600px;
          }
        }
  
        &:hover .dropdown-menu {
          display: block;
          margin-top: 0px;
          padding: 1.5rem;
          border-width: 0;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          box-shadow: 0px 20px 20px $ShadowPrimary;
          overflow: hidden;
        }
  
        .dropdown-menu{
          .container-fluid{
            padding-right: 0px;
            padding-bottom: 0px;

            a{
              font-size: 24px;
              color: $PrimaryColor;
              font-weight: 600;
  
              span{
                border-left: 1px solid #ababab;
                padding-left: 1rem;
                margin-left: 1rem;
                font-size: 14px;
                color: $GrayThreeColor;
                font-weight: 400;
              }
            }
  
            .row{
              padding-top: 1rem;
              .col-md-3, .col-md-6, .col{
                .row{
                  padding: 0;
  
                  &.FNV-QuickAction{
                    height: 100%;
  
                    .col-12{
                      a{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-evenly;
                        align-items: center;
                        background-color: $LightColor;
  
                        svg{
                          width: 50px;
                          height: 50px;
                          color: $SecondaryColor;
                        }
  
                        span{
                          font-size: 18px;
                          border-width: 0;
                          margin: 0;
                          padding: 0;
                          color: $PrimaryColor;
                        }
                      }
                    }
                  }
                }
                
                span{
                  font-size: 16px;
                  line-height: 32px;
                  font-weight: 700;
                  color: $FourthColor;
                  margin-bottom: .8rem;
                  display: block;
  
                  svg{
                    width: 12px;
                    height: 12px;
                    margin-right: .5rem;
                    color: $SecondaryColor;
                  }
                }
                
                li{
                  a{
                    font-size: 14px;
                    font-weight: 300;
                    color: $GrayThreeColor;
                    transition: .1s all ease-in-out;
  
                    &:hover{
                      color: $SecondaryColor;
                      border-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
  
      .FNV-MegaMenu-Search {
        position: static;
  
        &:hover .dropdown-menu {
          display: block;
          margin-top: 0px;
          width: 800px;
          border-width: 0;
          right: 0;
        }
      }
    }
  
    &.FNV-MegaMenu{
      background-color: $LightColor;
    }
  }
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
  body[dir='rtl']{
    nav {
      .container-fluid {
        padding: 0 1rem;
    
        &:first-child {
          background-color: $WhiteColor;
          padding: 0.75rem 1rem;
    
          .OffCanvasMenu {
            padding-right: 0.75rem;
            padding-left: 0.5rem;
    
            svg {
              color: $PrimaryColor;
            }
          }
    
          .OffCanvasMenu2{
            margin-right: 1rem;
            color: $PrimaryColor;
          }
    
          .navbar-brand {
            width: 200px;
            padding-left: 0.5rem;
            border-left: 1px solid $GrayTwoColor;
          }
    
          .navbar-collapse{
            display: flex;
            flex-direction: row;
            justify-content: space-between !important;
            margin-top: 1rem;

            .FNV-User {
              .FNV-Btn {
                background-color: unset;
                display: flex;
                align-items: center;
    
                .FNV-UserAvatar{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: $PrimaryColor;
                  border: 2px solid $PrimaryColor;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: .5rem;
                  margin: 0 .5rem;
    
                  svg{
                    stroke: $WhiteColor;
                  }
                }
      
                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  border: 2px solid $PrimaryColor;
                  object-fit: cover;
                  margin: 0 .5rem;
                }

                span{
                  display: none;
                }
    
                &::after{
                  margin-right: .2rem;
                  margin-left: unset;
                }
              }
      
              .dropdown-menu {
                border-width: 0px;
                box-shadow: 0px 0px 20px #00000020;
                
                li {
                  padding-bottom: 0.3rem;
                  text-align: right;
                  a {
                    font-size: 14px;
    
                    svg {
                      color: $PrimaryColor;
                      width: 20px;
                      height: 20px;
                      margin-left: 0.5rem;
                    }
                  }
                }
              }
            }
          }
        }
    
        &:nth-child(2) {
          background-color: $GrayOneColor;
          border-bottom: 5px solid $PrimaryColor;
          border-top: 1px solid $GrayTwoColor;
    
          .collapse{
            display: none;
            justify-content: space-between;
  
            &.show{
              display: flex;
              flex-direction: column;
            }

            .navbar-nav{
              padding-right: 0;
              width: 100%;
  
              .nav-item{
                &.FNV-Appointment{
                  background: linear-gradient(-45deg, #003BBF, #FF772C, #003BBF);
                  background-size: 400% 400%;
                  animation: gradient 3s ease-in-out infinite;
  
                  a{
                    color: $WhiteColor;
                  }
                }
  
                .dropdown-menu.show{
                  right: 0;
                  left: unset;
                  padding: 0;
  
                  li{
                    text-align: start;
  
                    a{
                      color: $FourthColor;
                    }
  
                    &:hover{
                      background-color: $PrimaryColor!important;
  
                      a{
                        background-color: unset;
                        color: $WhiteColor;
                      }
                    }
                  }
                }
  
                .nav-link{
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }

            .d-flex{
              display: none!important;
              width: 100%;
            }
          }
        }
    
        .FNV_QuickAccess{
          a{
            margin-left: .5rem;
            font-size: 14px;
            line-height: 22px;
    
            svg{
              width: 20px;
              height: 20px;
            }
          }
        }
    
        .navbar-nav {
          .nav-item {
    
            .nav-link {
              font-size: 16px;
              font-weight: 400;
              line-height: 40px;
              padding: .5rem 1rem;
            }
    
            &:hover .nav-link {
              background-color: $PrimaryColor;
              color: $WhiteColor;
            }
          }
        }
    
        .FNV-MegaMenu {
          position: static;
    
          &:hover .dropdown-menu {
            display: block;
            margin-top: 0px;
            width: 80%;
            padding: 1.5rem;
            border-width: 0;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 20px 20px $ShadowPrimary;
            overflow: hidden;
          }
    
          .dropdown-menu{
            .container-fluid{
              a{
                font-size: 24px;
                color: $PrimaryColor;
                font-weight: 600;
    
                span{
                  border-left: 1px solid #ababab;
                  padding-left: 1rem;
                  margin-left: 1rem;
                  font-size: 14px;
                  color: $GrayThreeColor;
                  font-weight: 400;
                }
              }
    
              .row{
                padding-top: 1rem;
                .col-md-3, .col-md-6, .col{
                  .row{
                    padding: 0;
    
                    &.FNV-QuickAction{
                      height: 100%;
    
                      .col-12{
                        a{
                          display: flex;
                          flex-direction: column;
                          height: 100%;
                          justify-content: space-evenly;
                          align-items: center;
                          background-color: $LightColor;
    
                          svg{
                            width: 50px;
                            height: 50px;
                            color: $SecondaryColor;
                          }
    
                          span{
                            font-size: 18px;
                            border-width: 0;
                            margin: 0;
                            padding: 0;
                            color: $PrimaryColor;
                          }
                        }
                      }
                    }
                  }
                  
                  span{
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: 700;
                    color: $FourthColor;
                    margin-bottom: .8rem;
                    display: block;
    
                    svg{
                      color: $SecondaryColor;
                      width: 12px;
                      height: 12px;
                    }
                  }
                  
                  li{
                    a{
                      font-size: 14px;
                      font-weight: 300;
                      color: $GrayThreeColor;
                      transition: .1s all ease-in-out;
    
                      &:hover{
                        color: $SecondaryColor;
                        border-radius: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
    
        .FNV-MegaMenu-Search {
          position: static;
    
          &:hover .dropdown-menu {
            display: block;
            margin-top: 0px;
            width: 800px;
            border-width: 0;
            right: 0;
          }
        }
      }
    
      &.FNV-MegaMenu{
        background-color: $LightColor;
      }
    }
  }
  
  body[dir='ltr']{
    nav {
      .container-fluid {
        padding: 0 1rem;
    
        &:first-child {
          background-color: $WhiteColor;
          padding: 0.75rem 1rem;
    
          .OffCanvasMenu {
            padding-right: 0.75rem;
            padding-left: 0.5rem;
    
            svg {
              color: $PrimaryColor;
            }
          }
    
          .OffCanvasMenu2{
            margin-right: 1rem;
            color: $PrimaryColor;
          }
    
          .navbar-brand {
            width: 200px;
            padding-left: 0.5rem;
            border-left: 1px solid $GrayTwoColor;
          }

          .navbar-collapse{
            display: flex;
            flex-direction: row;
            justify-content: space-between !important;
            margin-top: 1rem;
    
            .FNV-User {
              .FNV-Btn {
                background-color: unset;
                display: flex;
                align-items: center;
    
                .FNV-UserAvatar{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: $PrimaryColor;
                  border: 2px solid $PrimaryColor;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: .5rem;
                  margin: 0 .5rem;
    
                  svg{
                    stroke: $WhiteColor;
                  }
                }
      
                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: 2px solid $PrimaryColor;
                  object-fit: cover;
                  margin: 0 .5rem;
                }

                span{
                  display: none;
                }
    
                &::after{
                  margin-left: .5rem;
                  margin-right: unset;
                }
              }
      
              .dropdown-menu {
                border-width: 0px;
                box-shadow: 0px 0px 20px #00000020;
                
                li {
                  padding-bottom: 0.3rem;
                  text-align: left;
                  a {
                    font-size: 14px;
    
                    svg {
                      color: $PrimaryColor;
                      width: 20px;
                      height: 20px;
                      margin-right: 0.5rem;
                    }
                  }
                }
              }
            }

            .d-flex{
              display: none!important;
            }
          }
        }
    
        &:nth-child(2) {
          background-color: $GrayOneColor;
          border-bottom: 5px solid $PrimaryColor;
          border-top: 1px solid $GrayTwoColor;
    
          .collapse{
            display: none;
            justify-content: space-between;
  
            &.show{
              display: flex;
              flex-direction: column;
            }
  
            .navbar-nav{
              width: 100%;

              .nav-item{
  
                &.FNV-Appointment{
                  background-color: $PrimaryColor;
  
                  a{
                    color: $WhiteColor;
                  }
                }
  
                .dropdown-menu.show{
                  right: unset;
                  left: 0;
                  padding: 0;
  
                  li{
                    text-align: start;
  
                    a{
                      color: $FourthColor;
                    }
  
                    &:hover{
                      background-color: $PrimaryColor!important;
  
                      a{
                        background-color: unset;
                        color: $WhiteColor;
                      }
                    }
                  }
                }
  
                .nav-link{
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }

            .d-flex{
              display: none!important;
            }
          }
        }
    
        .FNV_QuickAccess{
          a{
            margin-left: .5rem;
            font-size: 14px;
            line-height: 22px;
    
            svg{
              width: 20px;
              height: 20px;
            }
          }
        }
    
        .navbar-nav {
          .nav-item {
    
            .nav-link {
              font-size: 16px;
              font-weight: 400;
              line-height: 40px;
              padding: .5rem 1rem;
            }
    
            &:hover .nav-link {
              background-color: $PrimaryColor;
              color: $WhiteColor;
            }
          }
        }
    
        .FNV-MegaMenu {
          position: static;
    
          &:hover .dropdown-menu {
            display: block;
            margin-top: 0px;
            width: 80%;
            padding: 1.5rem;
            border-width: 0;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 20px 20px $ShadowPrimary;
            overflow: hidden;
          }
    
          .dropdown-menu{
            .container-fluid{
              a{
                font-size: 24px;
                color: $PrimaryColor;
                font-weight: 600;
    
                span{
                  border-left: 1px solid #ababab;
                  padding-left: 1rem;
                  margin-left: 1rem;
                  font-size: 14px;
                  color: $GrayThreeColor;
                  font-weight: 400;
                }
              }
    
              .row{
                padding-top: 1rem;
                .col-md-3, .col-md-6, .col{
                  .row{
                    padding: 0;
    
                    &.FNV-QuickAction{
                      height: 100%;
    
                      .col-12{
                        a{
                          display: flex;
                          flex-direction: column;
                          height: 100%;
                          justify-content: space-evenly;
                          align-items: center;
                          background-color: $LightColor;
    
                          svg{
                            width: 50px;
                            height: 50px;
                            color: $SecondaryColor;
                          }
    
                          span{
                            font-size: 18px;
                            border-width: 0;
                            margin: 0;
                            padding: 0;
                            color: $PrimaryColor;
                          }
                        }
                      }
                    }
                  }
                  
                  span{
                    font-size: 16px;
                    line-height: 32px;
                    font-weight: 700;
                    color: $FourthColor;
                    margin-bottom: .8rem;
                    display: block;
    
                    svg{
                      color: $SecondaryColor;
                      width: 12px;
                      height: 12px;
                    }
                  }
                  
                  li{
                    a{
                      font-size: 14px;
                      font-weight: 300;
                      color: $GrayThreeColor;
                      transition: .1s all ease-in-out;
    
                      &:hover{
                        color: $SecondaryColor;
                        border-radius: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
    
        .FNV-MegaMenu-Search {
          position: static;
    
          &:hover .dropdown-menu {
            display: block;
            margin-top: 0px;
            width: 800px;
            border-width: 0;
            right: 0;
          }
        }
      }
    
      &.FNV-MegaMenu{
        background-color: $LightColor;
      }
    }
  }
}
