//** Poppins
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

//** Ravi
// Light
@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 300;
  src: local('Ravi'), url('fonts/Ravi/RaviFaNum-Light.woff') format('woff'),
    url('fonts/Ravi/RaviFaNum-Light.ttf') format('truetype'),
    url('fonts/Ravi/RaviFaNum-Light.eot') format('embedded-opentype');
}
// Regular
@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 400;
  src: local('Ravi'), url('fonts/Ravi/RaviFaNum-Regular.woff') format('woff'),
    url('fonts/Ravi/RaviFaNum-Regular.ttf') format('truetype'),
    url('fonts/Ravi/RaviFaNum-Regular.eot') format('embedded-opentype');
}
// Medium
@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 500;
  src: local('Ravi'), url('fonts/Ravi/RaviFaNum-Medium.woff') format('woff'),
    url('fonts/Ravi/RaviFaNum-Medium.ttf') format('truetype'),
    url('fonts/Ravi/RaviFaNum-Medium.eot') format('embedded-opentype');
}
// Semi Bold
@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 600;
  src: local('Ravi'), url('fonts/Ravi/RaviFaNum-SemiBold.woff') format('woff'),
    url('fonts/Ravi/RaviFaNum-SemiBold.ttf') format('truetype'),
    url('fonts/Ravi/RaviFaNum-SemiBold.eot') format('embedded-opentype');
}
// Bold
@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 700;
  src: local('Ravi'), url('fonts/Ravi/RaviFaNum-Bold.woff') format('woff'),
    url('fonts/Ravi/RaviFaNum-Bold.ttf') format('truetype'),
    url('fonts/Ravi/RaviFaNum-Bold.eot') format('embedded-opentype');
}
// Heavy
@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 800;
  src: local('Ravi'), url('fonts/Ravi/RaviFaNum-Black.woff') format('woff'),
    url('fonts/Ravi/RaviFaNum-Black.ttf') format('truetype'),
    url('fonts/Ravi/RaviFaNum-Black.eot') format('embedded-opentype');
}
// ExtraBlack
@font-face {
  font-family: 'Ravi';
  font-style: normal;
  font-weight: 900;
  src: local('Ravi'), url('fonts/Ravi/RaviFaNum-ExtraBlack.woff') format('woff'),
    url('fonts/Ravi/RaviFaNum-ExtraBlack.ttf') format('truetype'),
    url('fonts/Ravi/RaviFaNum-ExtraBlack.eot') format('embedded-opentype');
}
