body[dir='rtl'] {
    .FNV-SinglePage {
        .container {
            .row {
                padding-top: 2rem;

                &.FNV-Header {
                    height: 350px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        color: $WhiteColor;
                        font-weight: 800;
                        font-size: 40px;
                        text-align: center;
                    }
                }

                h2 {
                    font-size: 32px;
                }

                h3 {
                    font-size: 25px;
                    font-weight: 600;
                    position: relative;
                    padding-right: 2rem;
                    margin-bottom: 2rem;
                    color: $BlackColor;

                    &::before {
                        content: ' ';
                        width: 20px;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: $SecondaryColor;
                    }
                }

                .col-12 {
                    display: block;
                    border-radius: 15px;
                    background-color: $WhiteColor;
                    box-shadow: 0 0 20px $ShadowPrimary;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    overflow: hidden;

                    h4 {
                        font-size: 20px;
                        font-weight: 700;
                        color: $BlackColor;
                    }

                    h5 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 30px;
                        color: $BlackColor;
                    }

                    iframe {
                        width: 100%;
                        height: 700px;
                        border-radius: 15px;
                    }

                    &.col-md-3 {
                        background-color: transparent;
                        box-shadow: unset;

                        iframe {
                            height: 500px;
                        }
                    }
                }

                .accordion {
                    border-radius: 15px;

                    .accordion-item {
                        margin-bottom: 1rem;
                        border-radius: 15px;
                        border-width: 0;
                        box-shadow: 0px 0px 10px #00000017;

                        .accordion-header {
                            .accordion-button {
                                box-shadow: unset;
                                background-color: transparent;
                                font-size: 18px;
                                line-height: 36px;
                                font-weight: 600;

                                &::after{
                                    margin-left: unset;
                                    margin-right: auto;
                                }
                            }
                        }

                        .accordion-collapse {
                            .accordion-body {
                                font-size: 16px;
                                line-height: 32px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}

body[dir='ltr'] {
    .FNV-SinglePage {
        .container {
            .row {
                margin-top: 2rem;

                &.FNV-Header {
                    height: 350px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        color: $WhiteColor;
                        font-weight: 800;
                        font-size: 40px;
                        text-align: center;
                    }
                }

                h2 {
                    font-size: 32px;
                }

                h3 {
                    font-size: 25px;
                    font-weight: 600;
                    position: relative;
                    padding-left: 2rem;
                    margin-bottom: 2rem;
                    color: $BlackColor;

                    &::before {
                        content: ' ';
                        width: 20px;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: $SecondaryColor;
                    }
                }

                .col-12 {
                    display: block;
                    border-radius: 15px;
                    background-color: $WhiteColor;
                    box-shadow: 0 0 20px $ShadowPrimary;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    overflow: hidden;

                    h4 {
                        font-size: 20px;
                        font-weight: 700;
                        color: $BlackColor;
                    }

                    h5 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 30px;
                        color: $BlackColor;
                    }

                    iframe {
                        width: 100%;
                        height: 700px;
                        border-radius: 15px;
                    }

                    &.col-md-3 {
                        background-color: transparent;
                        box-shadow: unset;

                        iframe {
                            height: 500px;
                        }
                    }
                }

                .accordion {
                    border-radius: 15px;

                    .accordion-item {
                        margin-bottom: 1rem;
                        border-radius: 15px;
                        border-width: 0;
                        box-shadow: 0px 0px 10px #00000017;

                        .accordion-header {
                            .accordion-button {
                                box-shadow: unset;
                                background-color: transparent;
                                font-size: 18px;
                                line-height: 36px;
                                font-weight: 600;
                            }
                        }

                        .accordion-collapse {
                            .accordion-body {
                                font-size: 16px;
                                line-height: 32px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}