@import './variables';

body[dir='rtl']{
  .FNV-SingleCourse {
    padding: 1rem 0;
    .container{
      .row {
        &.FNV-Header {
          background: rgba(0,59,191,1);
          background: -moz-linear-gradient(170deg, rgb(255 119 44) 0%, rgba(0,59,191,1) 100%);
          background: -webkit-linear-gradient(170deg, rgb(255 119 44) 0%, rgba(0,59,191,1) 100%);
          background: linear-gradient(170deg, rgb(255 119 44) 0%, rgba(0,59,191,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a52994",endColorstr="#003bbf",GradientType=1);
          border-radius: 15px;
          overflow: hidden;
          height: auto;
          padding: 3rem 2rem;
        }
    
        .col-md-8 {
          padding: 0;
  
          .FNV-Category {
            display: flex;
    
            .FNV-Category-Icon{
              padding: .5rem;
              background-color: $WhiteColor;
              border-radius: 15px;
              margin-left: .5rem;
  
              svg {
                width: 20px;
                height: 20px;
                stroke: $SecondaryColor;
              }
            }
    
            .FNV-Cat-Heading {
              display: flex;
              align-items: center;
  
              span, h2{
                font-weight: 800;
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 0;
              } 
              
  
              a {
                transition: 0.3s all ease-in-out;
                color: $SecondaryColor;
                margin: 0 .5rem;
    
                &:hover {
                  color: $BlackColor;
                }
              }
            }
          }
    
          h1 {
            color: $WhiteColor;
            font-size: 40px;
            line-height: 50px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }
    
          .FNV-Cat-Shorts {
            padding-top: 1rem;
            margin-top: 0.5rem;
            border-top: $GrayFourColor 1px solid;
    
            .row {
    
              .col-md,
              .col-md-4 {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
  
                .FNV-Cat-Shorts-Icon{
                  padding: .5rem;
                  background-color: $WhiteColor;
                  border-radius: 15px;
                  display: flex;
                  width: 100%;
      
                  svg {
                    width: 20px;
                    height: 30px;
                    margin-left: .5rem;
                    stroke: $SecondaryColor;
                  }
  
                  h3 {
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 32px;
                    margin-bottom: 0;
      
                    strong, a {
                      color: $PrimaryColor;
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .FNV-Course-Detail {
    .container {
      .row {
        .col-md-8 {
          margin-top: 1rem;
  
          .FNV-Course-Video {
            border-radius: 15px;
            margin-bottom: 1rem;
            overflow: hidden;
            border-width: 0;
            box-shadow: 0 0 20px $ShadowPrimary;
            height: 500px!important;
          }
  
          .FNV-Course-Card {
            display: block;
            border-radius: 15px;
            background-color: $WhiteColor;
            box-shadow: 0 0 20px $ShadowPrimary;
            padding: 1.5rem;
            margin-bottom: 1rem;
            overflow: hidden;
  
            iframe{
              width: 100%;
            }
  
            &.FNV-Instructor{
              background-color: $PrimaryColor;
  
              .row{
                .col-md-2{
                  .FNV-Instructor-Image{
                    background-color: $WhiteColor;
                    border-radius: 50%;
                    padding: 2rem;
  
                    svg{
                      stroke: $SecondaryColor;
                    }
                  }
                }
  
                .col-md-8{
                  margin-top: 0;
  
                  small{
                    color: $LightColor;
                  }
  
                  h4, a{
                    font-weight: 800;
                    color: $WhiteColor;
                  }
  
                  p{
                    color: $GrayTwoColor;
                  }
                }
              }
            }
  
            .FNV-Course-Card-Head {
              h4 {
                font-size: 24px;
                font-weight: 600;
                position: relative;
                padding-right: 2rem;
                margin-bottom: 2rem;
  
                &::before{
                  content: ' ';
                  width: 20px;
                  height: 100%;
                  position: absolute;
                  right: 0;
                  top: 0;
                  background-color: $SecondaryColor;
                }
              }
  
              p,
              ul {
                color: $GrayFiveColor;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                margin-bottom: 2rem;
                text-align: justify;
              }
            }
  
            .FNV-Course-Card-Body {
              h5 {
                font-size: 18px;
                font-weight: 400;
              }
  
              .accordion {
                .accordion-item {
                  border-width: 0;
  
                  &:hover {
                    background-color: $HoverOne;
                  }
  
                  button {
                    border-radius: 0px;
                    border-top: 1px solid #e9ecef;
                    background-color: unset;
                    position: relative;
                    padding: 1rem .5rem;

                    &::after{
                      margin-right: auto;
                      margin-left: unset;
                    }
  
                    &:focus {
                      box-shadow: unset;
                    }
  
                    svg {
                      color: $GrayTwoColor;
                      margin-left: 1rem;
                      margin-right: 0rem;
                    }
  
                    .badge {
                      margin-right: 1rem;
                      border-radius: 2px;
                      color: $WhiteColor;
                      font-weight: 400;
  
                      &.text-bg-info {
                        color: $WhiteColor !important;
                      }
  
                      &.text-bg-practice {
                        background-color: $SecondaryColor;
                        color: $WhiteColor !important;
                        position: absolute;
                        left: 8rem;
  
                        svg {
                          color: $WhiteColor;
                          margin-left: 0rem;
                        }
                      }
  
                      &.text-bg-quiz {
                        background-color: $BgQuiz;
                        color: $WhiteColor !important;
                        position: absolute;
                        left: 8rem;
  
                        svg {
                          color: $WhiteColor;
                          margin-left: 0rem;
                        }
                      }
  
                      &.text-bg-primary {
                        color: $WhiteColor !important;
                        border-radius: 40px;
  
                        svg {
                          width: 16px;
                        }
                      }
  
                      &.FNV-Badge-Preview {
                        left: 4rem;
                        right: unset;
                        position: absolute;
  
                        svg {
                          color: $WhiteColor;
                          margin-right: 0rem;
                        }
                      }
  
                      &.FNV-Badge-Private {
                        background-color: transparent !important;
                        left: 40px;
                        right: unset;
                        position: absolute;
                        color: $GrayFiveColor !important;
  
                        svg {
                          color: $GrayFiveColor;
                          margin-left: 0rem;
                          margin-right: 0;
                        }
                      }
                    }
                  }
                }
  
                .accordion-body {
                  &.FNV-Locked {
                    color: $GrayFiveColor;
                  }
                }
              }
            }
          }
        }
  
        .col-md-4 {
          .FNV-Course-Card {
            display: block;
            background-color: $WhiteColor;
            box-shadow: 0 0 20px $ShadowPrimary;
            padding: 2rem;
            margin-top: -13rem;
            margin-bottom: 1rem;
            overflow: hidden;
            border-radius: 15px;
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 1rem;
            text-align: center;
  
            img {
              margin-bottom: 1rem;
              display: block;
              width: 100%;
              object-fit: cover;
              height: 200px;
              border-radius: 15px;
              animation-duration: 5s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-name: placeHolderShimmer;
              animation-timing-function: linear;
              background: fff;
              background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
            }
  
            .FNV-Btn {
              font-weight: 600;
              margin-top: 1rem;
              display: flex;
              justify-content: center;
              transition: all .1s ease-in-out;
  
              svg{
                width: 25px;
                height: 25px;
                stroke: $WhiteColor;
                margin-left: auto;
                margin-right: unset;
                transition: all .1s ease-in-out;
              }
  
              span{
                margin-left: auto;
                margin-right: unset;
              }
  
              &:hover{
                border: 1px solid $SecondaryColor;
                color: $SecondaryColor;
  
                svg{
                  stroke: $SecondaryColor;
                }
              }
            }
  
            .form-select{
              border: 1px solid $PrimaryColor;
              font-size: 16px;
              color: $BlackColor;
            }
  
            h4 {
              font-size: 16px;
              line-height: 34px;
              font-weight: 400;
              margin: 0 auto;
              background-color: $PrimaryColor;
              border-top-right-radius: 15px;
              border-top-left-radius: 15px;
              padding: .1rem .5rem;
              color: $WhiteColor;
              display: inline-block;
              text-align: center;
            }
  
            .row{
              margin-top: 1rem;
              background-color: $GrayOneColor;
              display: inline-flex;
              width: 100%;
              border-radius: 15px;
              text-align: left;
              padding: .5rem 0;
  
              &.FNV-Price{
                background-color: #f7f7f7;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
  
                .col-md-2{
                  svg{
                    stroke: $PrimaryColor;
                  }
                }
  
                .col-md-10{
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
    
                  h5{
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    font-weight: 800;
                    color: $BlackColor;
                    background-color: transparent;
  
                    price{
                      color: $PrimaryColor;
                    }
                  }
                }
              }
  
              &.FNV-VIP{
                margin-top: .1rem;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                background-color: $SecondaryColor;
  
                .col-md-2{
                  svg{
                    stroke: $WhiteColor;
                  }
                }
  
                .col-md-10{
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
    
                  h5{
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 800;
                    color: $WhiteColor;
                    background-color: transparent;
  
                    price{
                      color: $WhiteColor;
                    }
                  }
  
                  p{
                    color: $WhiteColor;
                  }
                }
              }
  
              .col-md-2{
                svg{
                  stroke: $SecondaryColor;
                }
              }
  
              .col-md-10{
                display: flex;
                justify-content: center;
                flex-direction: column;
  
                h5{
                  margin: 0;
                  padding: 0;
                  font-size: 16px;
                  font-weight: 600;
                  color: $PrimaryColor;
                  background-color: transparent;
                  text-align: right;
                }
  
                p{
                  font-size: 13px;
                  margin-bottom: 0;
                  text-align: right;
                  color: $PrimaryColor;
                }
              }
            }
  
            p {
              margin-bottom: 1rem;
              font-size: 14px;
              font-weight: 300;
            }
  
            h5 {
              margin-bottom: 1rem;
  
              &:last-child {
                margin-bottom: 0;
              }
  
              price {
                color: $SecondaryColor;
              }
            }
          }
        }
      }
    }
  }
}

body[dir='ltr']{
  .FNV-SingleCourse {
    padding: 1rem 0;
    .container{
      .row {
        &.FNV-Header {
          background: rgba(0,59,191,1);
          background: -moz-linear-gradient(170deg, rgb(255 119 44) 0%, rgba(0,59,191,1) 100%);
          background: -webkit-linear-gradient(170deg, rgb(255 119 44) 0%, rgba(0,59,191,1) 100%);
          background: linear-gradient(170deg, rgb(255 119 44) 0%, rgba(0,59,191,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a52994",endColorstr="#003bbf",GradientType=1);
          border-radius: 15px;
          overflow: hidden;
          height: auto;
          padding: 3rem 2rem;
        }
    
        .col-md-8 {
          padding: 0;
  
          .FNV-Category {
            display: flex;
    
            .FNV-Category-Icon{
              padding: .5rem;
              background-color: $WhiteColor;
              border-radius: 15px;
              margin-right: .5rem;
  
              svg {
                width: 20px;
                height: 20px;
                stroke: $SecondaryColor;
              }
            }
    
            .FNV-Cat-Heading {
              display: flex;
              align-items: center;
  
              span, h2{
                font-weight: 800;
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 0;
              } 
              
  
              a {
                transition: 0.3s all ease-in-out;
                color: $SecondaryColor;
                margin: 0 .5rem;
    
                &:hover {
                  color: $BlackColor;
                }
              }
            }
          }
    
          h1 {
            color: $WhiteColor;
            font-size: 40px;
            line-height: 50px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 1rem;
          }
    
          .FNV-Cat-Shorts {
            padding-top: 1rem;
            margin-top: 0.5rem;
            border-top: $GrayFourColor 1px solid;
    
            .row {
    
              .col-md,
              .col-md-4 {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
  
                .FNV-Cat-Shorts-Icon{
                  padding: .5rem;
                  background-color: $WhiteColor;
                  border-radius: 15px;
                  display: flex;
                  width: 100%;
      
                  svg {
                    width: 20px;
                    height: 30px;
                    margin-left: .5rem;
                    margin-right: .5rem;
                    stroke: $SecondaryColor;
                  }
  
                  h3 {
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 32px;
                    margin-bottom: 0;
      
                    strong, a {
                      color: $PrimaryColor;
                      text-transform: capitalize;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.FNV-Course-Detail {
  .container {
    .row {
      .col-md-8 {
        margin-top: 1rem;

        .FNV-Course-Video {
          border-radius: 15px;
          margin-bottom: 1rem;
          overflow: hidden;
          border-width: 0;
          box-shadow: 0 0 20px $ShadowPrimary;
          height: 500px!important;
        }

        .FNV-Course-Card {
          display: block;
          border-radius: 15px;
          background-color: $WhiteColor;
          box-shadow: 0 0 20px $ShadowPrimary;
          padding: 1.5rem;
          margin-bottom: 1rem;
          overflow: hidden;

          iframe{
            width: 100%;
          }

          &.FNV-Instructor{
            background-color: $PrimaryColor;

            .row{
              .col-md-2{
                .FNV-Instructor-Image{
                  background-color: $WhiteColor;
                  border-radius: 50%;
                  padding: 2rem;

                  svg{
                    stroke: $SecondaryColor;
                  }
                }
              }

              .col-md-8{
                margin-top: 0;

                small{
                  color: $GrayFourColor;
                }

                h4, a{
                  font-weight: 800;
                  color: $WhiteColor;
                }

                p{
                  color: $GrayTwoColor;
                }
              }
            }
          }

          .FNV-Course-Card-Head {
            h4 {
              font-size: 24px;
              font-weight: 600;
              position: relative;
              padding-left: 2rem;
              margin-bottom: 2rem;

              &::before{
                content: ' ';
                width: 20px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: $SecondaryColor;
              }
            }

            p,
            ul {
              color: $GrayFiveColor;
              font-weight: 400;
              font-size: 15px;
              line-height: 25px;
              margin-bottom: 2rem;
              text-align: justify;
            }
          }

          .FNV-Course-Card-Body {
            h5 {
              font-size: 18px;
              font-weight: 400;
            }

            .accordion {
              .accordion-item {
                border-width: 0;

                &:hover {
                  background-color: $HoverOne;
                }

                button {
                  border-radius: 0px;
                  border-top: 1px solid #e9ecef;
                  background-color: unset;
                  position: relative;

                  &:focus {
                    box-shadow: unset;
                  }

                  svg {
                    color: $GrayTwoColor;
                    margin-right: 1rem;
                  }

                  .badge {
                    margin-left: 1rem;
                    border-radius: 2px;
                    color: $WhiteColor;
                    font-weight: 400;

                    &.text-bg-info {
                      color: $WhiteColor !important;
                    }

                    &.text-bg-practice {
                      background-color: $SecondaryColor;
                      color: $WhiteColor !important;

                      svg {
                        color: $WhiteColor;
                        margin-right: 0rem;
                      }
                    }

                    &.text-bg-quiz {
                      background-color: $BgQuiz;
                      color: $WhiteColor !important;

                      svg {
                        color: $WhiteColor;
                        margin-right: 0rem;
                      }
                    }

                    &.text-bg-primary {
                      color: $WhiteColor !important;
                      border-radius: 40px;

                      svg {
                        width: 16px;
                      }
                    }

                    &.FNV-Badge-Preview {
                      right: 4rem;
                      position: absolute;

                      svg {
                        color: $WhiteColor;
                        margin-right: 0rem;
                      }
                    }

                    &.FNV-Badge-Private {
                      background-color: transparent !important;
                      right: 4rem;
                      position: absolute;
                      color: $GrayFiveColor !important;

                      svg {
                        color: $GrayFiveColor;
                        margin-right: 0rem;
                      }
                    }
                  }
                }
              }

              .accordion-body {
                &.FNV-Locked {
                  color: $GrayFiveColor;
                }
              }
            }
          }
        }
      }

      .col-md-4 {
        .FNV-Course-Card {
          display: block;
          background-color: $WhiteColor;
          box-shadow: 0 0 20px $ShadowPrimary;
          padding: 2rem;
          margin-top: -13rem;
          margin-bottom: 1rem;
          overflow: hidden;
          border-radius: 15px;
          position: -webkit-sticky;
          /* Safari */
          position: sticky;
          top: 1rem;
          text-align: center;

          img {
            margin-bottom: 1rem;
            display: block;
            width: 100%;
            object-fit: cover;
            height: 200px;
            border-radius: 15px;
            animation-duration: 5s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background: fff;
            background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
          }

          .FNV-Btn {
            font-weight: 600;
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            transition: all .1s ease-in-out;

            svg{
              width: 25px;
              height: 25px;
              stroke: $WhiteColor;
              margin-right: auto;
              transition: all .1s ease-in-out;
            }

            span{
              margin-right: auto;
            }

            &:hover{
              border: 1px solid $SecondaryColor;
              color: $SecondaryColor;

              svg{
                stroke: $SecondaryColor;
              }
            }
          }

          .form-select{
            border: 1px solid $PrimaryColor;
            font-size: 16px;
            color: $BlackColor;
          }

          h4 {
            font-size: 16px;
            line-height: 34px;
            font-weight: 400;
            margin: 0 auto;
            background-color: $PrimaryColor;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            padding: .1rem .5rem;
            color: $WhiteColor;
            display: inline-block;
            text-align: center;
          }

          .row{
            margin-top: 1rem;
            background-color: $GrayOneColor;
            display: inline-flex;
            width: 100%;
            border-radius: 15px;
            text-align: left;
            padding: .5rem 0;

            &.FNV-Price{
              background-color: #f7f7f7;
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;

              .col-md-2{
                svg{
                  stroke: $PrimaryColor;
                }
              }

              .col-md-10{
                display: flex;
                justify-content: center;
                flex-direction: column;
  
                h5{
                  margin: 0;
                  padding: 0;
                  font-size: 20px;
                  font-weight: 800;
                  color: $BlackColor;
                  background-color: transparent;

                  price{
                    color: $PrimaryColor;
                  }
                }
              }
            }

            &.FNV-VIP{
              margin-top: .1rem;
              border-top-right-radius: 0px;
              border-top-left-radius: 0px;
              background-color: $SecondaryColor;

              .col-md-2{
                svg{
                  stroke: $WhiteColor;
                }
              }

              .col-md-10{
                display: flex;
                justify-content: center;
                flex-direction: column;
  
                h5{
                  margin: 0;
                  padding: 0;
                  font-size: 22px;
                  font-weight: 800;
                  color: $WhiteColor;
                  background-color: transparent;

                  price{
                    color: $WhiteColor;
                  }
                }

                p{
                  color: $WhiteColor;
                }
              }
            }

            .col-md-2{
              svg{
                stroke: $SecondaryColor;
              }
            }

            .col-md-10{
              display: flex;
              justify-content: center;
              flex-direction: column;

              h5{
                margin: 0;
                padding: 0;
                font-size: 16px;
                font-weight: 600;
                color: $PrimaryColor;
                background-color: transparent;
              }

              p{
                font-size: 13px;
                margin-bottom: 0;
                color: $PrimaryColor;
              }
            }
          }

          p {
            margin-bottom: 1rem;
            font-size: 14px;
            font-weight: 300;
          }

          h5 {
            margin-bottom: 1rem;

            &:last-child {
              margin-bottom: 0;
            }

            price {
              color: $SecondaryColor;
            }
          }
        }
      }
    }
  }
}

.FNV-Course-Related{
  background: rgb(0,59,191);
  background: -moz-linear-gradient(180deg, rgba(0,59,191,0.19931722689075626) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,59,191,0.19931722689075626) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(0,59,191,0.19931722689075626) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#003bbf",endColorstr="#ffffff",GradientType=1);

  padding: 5rem 0;
  z-index: 1;
  overflow: hidden;

  h3 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      width: 100%;
      position: relative;
      color: $PrimaryColor;
      margin-bottom: 5rem;

      &::before {
          content: "";
          display: block;
          width: 40%;
          height: 2px;
          background: $SecondaryColor;
          left: -1rem;
          top: 50%;
          position: absolute;
      }


      &::after {
          content: "";
          display: block;
          width: 40%;
          height: 2px;
          background: $SecondaryColor;
          right: -1rem;
          top: 50%;
          position: absolute;
      }
  }

  .container {
      .row {
          .col-12 {
              .swiper {
                  .swiper-wrapper {
                      .swiper-slide {
                          padding: 0 0 10rem;

                          .card {
                              border-width: 0;
                              border-radius: 18px;
                              overflow: visible;
                              cursor: grab;

                              &:active,
                              &:target {
                                  cursor: grabbing;
                              }

                              .card-body {
                                  background-color: $WhiteColor;
                                  border-radius: 18px;
                                  margin-top: -3rem;
                                  height: 100px;
                                  display: flex;
                                  justify-content: start;
                                  align-items: start;
                                  flex-direction: column;

                                  h4 {
                                      font-size: 16px;
                                      line-height: 32px;
                                      font-weight: 700;
                                      color: $PrimaryColor;
                                      text-align: left;
                                  }

                                  span{
                                      font-size: 14px;
                                      line-height: 1px;
                                      font-weight: 400;
                                      color: $PrimaryColor;
                                      margin-bottom: 5rem;

                                      svg{
                                          width: 16px;
                                          height: 16px;
                                      }
                                  }

                                  .FNV-Btn{
                                      position: absolute;
                                      bottom: -1.5rem;
                                      z-index: 15;
                                      align-self: center;
                                  }
                              }
                          }
                      }
                  }
              }

              .swiper-pagination {
                  top: unset;
                  bottom: 3rem;
              }
          }
      }
  }

  .FNV-SeeMore{
      margin-bottom: 5rem;
      padding: 1rem 3rem;
      width: auto;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 100em 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
  .FNV-Course-Detail {
    .container {
      .row {
        .col-md-8 {
          .FNV-Course-Video {
            margin-top: 1rem;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            box-shadow: 0 0 20px $ShadowPrimary;
            margin-bottom: 0rem;
          }

          .FNV-Course-Card {
            display: block;
            border-radius: 5px;
            background-color: $WhiteColor;
            box-shadow: 0 0 20px $ShadowPrimary;
            padding: 1.5rem;
            margin-bottom: 1rem;
            overflow: hidden;

            .FNV-Course-Card-Content {
              h3 {
                font-size: 18px;
                font-weight: 500;
              }

              h4 {
                font-size: 16px;
                font-weight: 500;
              }

              p,
              ul {
                color: $GrayFiveColor;
                font-weight: 400;
                font-size: 13px;
                line-height: 25px;
                margin-bottom: 2rem;
                text-align: justify;
              }
            }

            .FNV-Course-Card-Body {
              h5 {
                font-size: 18px;
                font-weight: 400;
              }

              .accordion {
                .accordion-item {
                  border-width: 0;

                  &:hover {
                    background-color: $HoverOne;
                  }

                  button {
                    border-radius: 0px;
                    border-top: 1px solid #e9ecef;
                    background-color: unset;
                    position: relative;
                    padding: 10px 0;
                    font-size: 12px;

                    &:focus {
                      box-shadow: unset;
                    }

                    &::after {
                      display: none !important;
                    }

                    svg {
                      color: $GrayTwoColor;
                      margin-right: 1rem;
                    }

                    .badge {
                      margin-left: 0.2rem;
                      border-radius: 2px;
                      color: $WhiteColor;
                      font-weight: 400;

                      &.text-bg-info {
                        color: $WhiteColor !important;
                      }

                      &.text-bg-practice {
                        background-color: $SecondaryColor;
                        color: $WhiteColor !important;

                        svg {
                          color: $WhiteColor;
                          margin-right: 0rem;
                        }
                      }

                      &.text-bg-quiz {
                        background-color: $BgQuiz;
                        color: $WhiteColor !important;

                        svg {
                          color: $WhiteColor;
                          margin-right: 0rem;
                        }
                      }

                      &.text-bg-primary {
                        color: $WhiteColor !important;
                        border-radius: 40px;

                        svg {
                          width: 16px;
                        }
                      }

                      &.FNV-Badge-Preview {
                        right: 0rem;
                        position: absolute;

                        svg {
                          color: $WhiteColor;
                          margin-right: 0rem;
                        }
                      }

                      &.FNV-Badge-Private {
                        background-color: transparent !important;
                        right: 0rem;
                        position: absolute;
                        color: $GrayFiveColor !important;

                        svg {
                          color: $GrayFiveColor;
                          margin-right: 0rem;
                        }
                      }
                    }
                  }
                }

                .accordion-body {
                  padding: 10px 5px;

                  &.FNV-Locked {
                    color: $GrayFiveColor;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }

        .col-md-4 {
          .FNV-Course-Card {
            display: block;
            background-color: $WhiteColor;
            box-shadow: 0 0 20px $ShadowPrimary;
            padding: 2rem;
            margin-top: 0rem;
            margin-bottom: 1rem;
            overflow: hidden;
            border-radius: 5px;
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 1rem;

            img {
              margin-bottom: 1rem;
            }

            .FNV-Btn {
              font-weight: 600;
              margin-top: 1rem;
            }

            h4 {
              font-size: 20px;
              line-height: 34px;
              margin-top: 0.5rem;
              font-weight: 400;
              margin-bottom: 0;

              &:last-child {
                margin-top: 1rem;
              }
            }

            p {
              margin-bottom: 1rem;
              font-size: 14px;
              font-weight: 300;
            }

            h5 {
              margin-bottom: 1rem;

              &:last-child {
                margin-bottom: 0;
              }

              price {
                color: $SecondaryColor;
              }
            }
          }
        }
      }
    }
  }
}