@import './variables';

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .FNV-Slider {
        background-color: $White;

        .container {
            .row {
                .FNV-Slider-Content {
                    .carousel-inner {
                        overflow: hidden;
                        border-radius: 28px;

                        .carousel-item {
                            height: 100%;
                            padding: 0rem;
                            position: unset !important;
                        }
                    }

                    .carousel-indicators {
                        padding: 0;
                        display: flex;
                        margin: 1rem 0;
                        position: unset;
                        justify-content: flex-start;

                        button {
                            padding: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            margin: .25rem;
                            font-size: 20px;
                            font-weight: 400;
                            overflow: hidden;
                            line-height: 30px;
                            text-indent: unset;
                            border-radius: 8px;
                            color: $PrimaryOne;
                            align-items: center;
                            background-clip: unset;
                            box-sizing: border-box;
                            justify-content: center;
                            background-color: $PrimaryBackgroundTwo;

                            &.active {
                                color: $White;
                                background-color: $PrimaryOne;
                            }

                            &.carousel-control-prev,
                            &.carousel-control-next {
                                position: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (min-width: 575.98px) and (max-width: 767.98px) {
    .FNV-Slider {
        background-color: $White;

        .container {
            .row {
                .FNV-Slider-Content {
                    .carousel-inner {
                        overflow: hidden;
                        border-radius: 28px;

                        .carousel-item {
                            height: 100%;
                            padding: 0rem;
                            position: unset !important;
                        }
                    }

                    .carousel-indicators {
                        padding: 0;
                        display: flex;
                        margin: 1rem 0;
                        position: unset;
                        justify-content: flex-start;

                        button {
                            padding: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            margin: .25rem;
                            font-size: 20px;
                            font-weight: 400;
                            overflow: hidden;
                            line-height: 30px;
                            text-indent: unset;
                            border-radius: 8px;
                            color: $PrimaryOne;
                            align-items: center;
                            background-clip: unset;
                            box-sizing: border-box;
                            justify-content: center;
                            background-color: $PrimaryBackgroundTwo;

                            &.active {
                                color: $White;
                                background-color: $PrimaryOne;
                            }

                            &.carousel-control-prev,
                            &.carousel-control-next {
                                position: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .FNV-Slider {
        background-color: $White;

        .container {
            .row {
                .FNV-Slider-Content {
                    .carousel-inner {
                        overflow: hidden;
                        border-radius: 28px;

                        .carousel-item {
                            height: 100%;
                            padding: 0rem;
                            position: unset !important;
                        }
                    }

                    .carousel-indicators {
                        padding: 0;
                        display: flex;
                        margin: 1rem 0;
                        position: unset;
                        justify-content: flex-start;

                        button {
                            padding: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            margin: .25rem;
                            font-size: 20px;
                            font-weight: 400;
                            overflow: hidden;
                            line-height: 30px;
                            text-indent: unset;
                            border-radius: 8px;
                            color: $PrimaryOne;
                            align-items: center;
                            background-clip: unset;
                            box-sizing: border-box;
                            justify-content: center;
                            background-color: $PrimaryBackgroundTwo;

                            &.active {
                                color: $White;
                                background-color: $PrimaryOne;
                            }

                            &.carousel-control-prev,
                            &.carousel-control-next {
                                position: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (min-width: 991.98px) {
    .FNV-Slider {
        background-color: $White;

        .container {
            .row {
                .FNV-Slider-Content {
                    .carousel-inner {
                        overflow: hidden;
                        border-radius: 28px;

                        .carousel-item {
                            height: 100%;
                            padding: 0rem;
                            position: unset !important;
                        }
                    }

                    .carousel-indicators {
                        padding: 0;
                        display: flex;
                        margin: 1rem 0;
                        position: unset;
                        justify-content: flex-start;

                        button {
                            padding: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            margin: .25rem;
                            font-size: 20px;
                            font-weight: 400;
                            overflow: hidden;
                            line-height: 30px;
                            text-indent: unset;
                            border-radius: 8px;
                            color: $PrimaryOne;
                            align-items: center;
                            background-clip: unset;
                            box-sizing: border-box;
                            justify-content: center;
                            background-color: $PrimaryBackgroundTwo;

                            &.active {
                                color: $White;
                                background-color: $PrimaryOne;
                            }

                            &.carousel-control-prev,
                            &.carousel-control-next {
                                position: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

// `xl` applies to large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
    .FNV-Slider {
        background-color: $White;

        .container {
            .row {
                .FNV-Slider-Content {
                    .carousel-inner {
                        overflow: hidden;
                        border-radius: 28px;

                        .carousel-item {
                            height: 100%;
                            padding: 0rem;
                            position: unset !important;
                        }
                    }

                    .carousel-indicators {
                        padding: 0;
                        display: flex;
                        margin: 1rem 0;
                        position: unset;
                        justify-content: flex-start;

                        button {
                            padding: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            margin: .25rem;
                            font-size: 20px;
                            font-weight: 400;
                            overflow: hidden;
                            line-height: 30px;
                            text-indent: unset;
                            border-radius: 8px;
                            color: $PrimaryOne;
                            align-items: center;
                            background-clip: unset;
                            box-sizing: border-box;
                            justify-content: center;
                            background-color: $PrimaryBackgroundTwo;

                            &.active {
                                color: $White;
                                background-color: $PrimaryOne;
                            }

                            &.carousel-control-prev,
                            &.carousel-control-next {
                                position: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .FNV-Slider {
        background-color: $White;

        .container {
            .row {
                .FNV-Slider-Content {
                    .carousel-inner {
                        overflow: hidden;
                        border-radius: 28px;

                        .carousel-item {
                            height: 100%;
                            padding: 0rem;
                            position: unset !important;
                        }
                    }

                    .carousel-indicators {
                        padding: 0;
                        display: flex;
                        margin: 1rem 0;
                        position: unset;
                        justify-content: flex-start;

                        button {
                            padding: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            margin: .25rem;
                            font-size: 20px;
                            font-weight: 400;
                            overflow: hidden;
                            line-height: 30px;
                            text-indent: unset;
                            border-radius: 8px;
                            color: $PrimaryOne;
                            align-items: center;
                            background-clip: unset;
                            box-sizing: border-box;
                            justify-content: center;
                            background-color: $PrimaryBackgroundTwo;

                            &.active {
                                color: $White;
                                background-color: $PrimaryOne;
                            }

                            &.carousel-control-prev,
                            &.carousel-control-next {
                                position: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

// XXX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {
    .FNV-Slider {
        background-color: $White;

        .container {
            .row {
                .FNV-Slider-Content {
                    .carousel-inner {
                        overflow: hidden;
                        border-radius: 28px;

                        .carousel-item {
                            height: 100%;
                            padding: 0rem;
                            position: unset !important;
                        }
                    }

                    .carousel-indicators {
                        padding: 0;
                        display: flex;
                        margin: 1rem 0;
                        position: unset;
                        justify-content: flex-start;

                        button {
                            padding: 0;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            margin: .25rem;
                            font-size: 20px;
                            font-weight: 400;
                            overflow: hidden;
                            line-height: 30px;
                            text-indent: unset;
                            border-radius: 8px;
                            color: $PrimaryOne;
                            align-items: center;
                            background-clip: unset;
                            box-sizing: border-box;
                            justify-content: center;
                            background-color: $PrimaryBackgroundTwo;

                            &.active {
                                color: $White;
                                background-color: $PrimaryOne;
                            }

                            &.carousel-control-prev,
                            &.carousel-control-next {
                                position: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}