//** Colors
$PrimaryOne: #223885;
$PrimaryTwo: #FFA600;
$PrimaryThree: #233B8C;
$PrimaryFour: #0074FF;
$PrimaryFive: #22388515;
$PrimarySix: #22388530;


//** Texts
$PrimaryTextOne: #6A7BBA;
$PrimaryTextTwo: #0074FF;
$PrimaryTextThree: #3DF07A;
$PrimaryTextFour: #B2B9D4;
$PrimaryTextFive: #B2B9D4;

//** Backgrounds
$PrimaryBackgroundOne: #FFFFFF;
$PrimaryBackgroundTwo: #F0F3FB;
$PrimaryBackgroundThree: #f0f3fb80;
$PrimaryBackgroundFour: #223885a9;
$PrimaryBackgroundFive: #22388550;

//** White
$White: #FFFFFF;
$WhiteTwo: #ffffff90;

//** Shadow
$PrimaryShadow: #07102e30;

$PrimaryColor: #223885;
$SecondPrimaryColor: #CCD8F2;
$SecondaryColor: #FF772C;
$ThirdColor: #33303CDE;
$FourthColor: #212121;
$LightColor: #F0F3FB;
$LightSecond: rgba(255, 118, 44, 0.15);
$LightThird: #E5EAFB;
$FiveColor: rgb(0, 59, 191, 8%);
$RedColor: red;
// White
$WhiteColor: #ffffff;
$BlackColor: #000000;
$TransparentWhite: #ffffffd9;
// Gray
$GrayOneColor: #f5f5f5;
$GrayTwoColor: #d9d9d9;
$GrayThreeColor: #575757;
$GrayFourColor: #999999;
$GrayFiveColor: #7d7e7f;
// Danger
$DangerColor: #dc3545;
// Shadow
$ShadowPrimary: #00000024;
$ShadowSecondary: #003cbfb9;
$ShadowSecondary2: #ff762ca1;
$ShadowThird: #003cbfd7;
$ShadowFour: rgba(0, 59, 191, 0.10);
// Hovers
$HoverOne: #f8f9fa;
// Single Course SVG Colors
$VideoSVGCourse: #f9a134;
$BgQuiz: #bd83ef;
// Alert
// Gradient
$BGTelegram: #229ED9;