@import './variables';

.FNV-Webinars {
  background-color: $WhiteColor;

  .FNV-Header {
    background-image: radial-gradient(circle, rgba(255, 119, 44, 0.4) 0%, rgb(0 0 0 / 90%) 100%), url('/img/Course_Featured.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5rem 0;
    height: unset;

    .container {
      padding: 0;

      .row {
        justify-content: center;

        .FNV-HCard{
            h1{
                text-transform: capitalize;
                margin-bottom: 0;
            }
        }
      }
    }
  }
}
