//Navbar
@import './root';

//Navbar
@import './variables';

body {
  font-family: 'Fira Sans', YekanBakh;
  font-weight: 400;
}

a {
  color: $SecondaryColor;
  text-decoration: none !important;
}

// General
@import './general';

// Buttons
@import './button';

// Badge
@import './badge';

// Alert
@import './alert';

// Navbar
@import './navbar';

// Header
@import './header';

// Slider
@import './Slider';

// Top Categories
@import './homeCategory';

// About Fanavaran
@import './homeAbout';

// Why Fanavaran
@import './homeWhy';

// New Courses
@import './NewCoursesHome';

// New Webinars
@import './NewWebinarsHome';

// Youtube CTA
@import './YoutubeCTA';

// Youtube CTA
@import './LatestBlog';

// Membership
@import './membership';

// Certifications
@import './certification';

// Events
@import './events';

// Events
@import './youtube';

// About Us Page
@import './About';

// Contact Us Page
@import './Contact';

// All Courses Page
@import './courses';

// All Webianrs Page
@import './Webinars';

// All Webianrs Page
@import './single-webinar';

// Pages Single
@import './Single-Page';

// Blogs Single
@import './Blogs-Single';

// All Blogs Page
@import './Blogs';

.FNV-SingleCourse {
  // All Courses Page
  @import './single-course';
}

// Cart
@import './cart';

// CCalendar
@import './calendar';

// Course Description
@import './Course-Description';

// OffCanvas
@import './offcanvas';

// Social Media Fixed
@import './social';

// Links
@import './Links';

// Hike
@import './Hike';

// Footers
@import './footer';